<div class="flex flex-col gap-y-6" style="min-height: 300px;">
    <div class="grid grid-cols-4 gap-10 w-full" *ngIf="tenantDetailDashboard">
        <div class="bg-cyan-600 col-span-1 flex flex-col flex-auto p-4 pb-2 rounded-2xl overflow-hidden card cursor-pointer card-zoom-in" (click)="onTenantBilling()">
            <div class="flex items-start justify-between text-white h-full">
                <div class="flex flex-col w-full gap-y-1 justify-between h-full">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-normal leading-6 truncate">Billing</div>
                            <div class="text-lg tracking-normal ">
                                {{lastPeriodBillings[0]['PeriodName']}}
                            </div>
                        </div>
                        <img src="/assets/images/icons/billing.svg" class="image-item"/>
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <div class="flex w-full justify-between text-md pr-4">
                            <span>Total</span>
                            <span>R {{billingTotal | number : '1.2-2'}}</span>
                        </div>
                        <div class="flex flex-col overflow-auto pr-2 text-md" style="max-height: 50px;">
                            <div class="flex justify-between" *ngFor="let billing of lastPeriodBillings">
                                <span>{{billing.GroupName}}</span><span>R {{billing.Amount | number : '1.2-2'}}</span>
                            </div>
                        </div>
                    </div>
                </div>                                        
            </div>
        </div>
        <div class="bg-pink-500 col-span-1 flex flex-col flex-auto p-4 pb-2 rounded-2xl overflow-visible card cursor-pointer card-zoom-in" (click)="showOccupation()">
            <div class="flex items-start justify-between text-white h-full">
                <div class="flex flex-col w-full gap-y-1 justify-between h-full">
                    <div class="flex w-full justify-between cursor-pointer gap-x-1 items-start">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-normal leading-8 truncate">Shops Occupied</div>
                            <span class="text-md">{{tenantName}}</span>
                        </div>
                        <img src="/assets/images/icons/occupation.svg" class="image-item"/>
                    </div>
                    <div class="flex w-full flex-col" (click)="$event.stopPropagation()">
                        <ng-select (change)="onChangeShop($event)" [items]="shopListItems" [(ngModel)]="selectedShop" bindLabel="label" bindValue="value" [placeholder]="'Select Model'" [searchable]="false" [clearable]="false" class="w-full select-sm">
                            <ng-template ng-label-tmp let-item="item">
                                <div class="flex justify-between">
                                    <ng-container *ngIf="item.value == 0; else shopTemplate">
                                        <span>All</span>
                                    </ng-container>
                                    <ng-template #shopTemplate>
                                        <span>{{item.item.ShopNr}}</span>
                                        <span>{{item.item.OccupationDTM | date : 'YYYY-MM-dd'}} <ng-container *ngIf="item.item.VacationDTM">- {{item.item.VacationDTM | date : 'YYYY-MM-dd'}}</ng-container></span>
                                    </ng-template>
                                </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <div class="flex justify-between">
                                    <ng-container *ngIf="item.value == 0; else shopTemplate">
                                        <span>All</span>
                                    </ng-container>
                                    <ng-template #shopTemplate>
                                        <span>{{item.item.ShopNr}}</span>
                                        <span>{{item.item.OccupationDTM | date : 'YYYY-MM-dd'}}</span>
                                    </ng-template>
                                </div>
                            </ng-template>
                        </ng-select>
                        <div class="flex text-sm justify-end">
                            <mat-slide-toggle [labelPosition]="'before'" [(ngModel)]="includeVacant" [color]="'primary'" (change)="onIncludeVacantChange($event)">Include Previous Occupations</mat-slide-toggle>
                        </div>                        
                    </div>
                    <div class="flex justify-between text-md">
                        <span>Total Active Shops</span>
                        <span>{{tenantDetailDashboard.CardInfos[0]['NoOfShops']}}</span>
                    </div>
                </div>                                        
            </div>
        </div>
        <div class="bg-green-600 col-span-1 flex flex-col flex-auto p-4 pb-3 rounded-2xl overflow-hidden card cursor-pointer card-zoom-in" (click)="showAssignedMeters()">
            <div class="flex items-start justify-between text-white h-full">
                <div class="flex flex-col w-full gap-y-1 justify-between h-full">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-normal leading-6 truncate">Assigned Meters</div>
                        </div>
                        <img src="/assets/images/icons/assigned_meters.svg" class="image-item"/>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex justify-between text-md">
                            <span class="">Shared</span><span>{{tenantDetailDashboard.CardInfos[0]['SharedMeters']}}</span>
                        </div>
                        <div class="flex justify-between text-md">
                            <span class="">Direct</span><span>{{tenantDetailDashboard.CardInfos[0]['DirectMeters']}}</span>
                        </div>
                    </div>
                    
                </div>                                        
            </div>
        </div>
        <div class="bg-indigo-500 col-span-1 flex flex-col flex-auto p-4 pb-2 rounded-2xl overflow-hidden card cursor-pointer card-zoom-in" (click)="showReading()"> 
            <div class="flex items-start justify-between text-white h-full">
                <div class="flex flex-col w-full gap-y-1 justify-between h-full">
                    <div class="flex w-full justify-between">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-normal leading-8 truncate">Readings</div>
                        </div>
                        <img src="/assets/images/icons/readings-icon.svg" class="image-item"/>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <div class="flex justify-between text-md" *ngFor="let reading of tenantDetailDashboard.ReadingsInfo">
                            <span class="">{{reading.ReadingMethod}}</span><span>{{reading.NoOfReadings}}</span>
                        </div>
                        <div class="flex justify-between text-md">
                            <span class="">Images Available</span><span>{{allAvailableImages}}</span>
                        </div>
                    </div>
                </div>                                        
            </div>
        </div>
    </div>
    <ng-container *ngIf="tenantDetailDashboard.BillingData.length > 0">
        <div class="flex bg-card bg-card rounded-md pt-3 pb-1 px-2 gap-x-2">
            <div class="flex flex-col w-1/2">
                <span class="text-2xl font-semibold mt-2">Billing Summary</span>
                <div class="flex w-full" id="chart">
                    <apx-chart
                        class="w-full"
                        #treemapChart
                        [series]="treeMapOptions.series"
                        [chart]="treeMapOptions.chart"
                        [dataLabels]="treeMapOptions.dataLabels"
                        [plotOptions]="treeMapOptions.plotOptions"
                        [title]="treeMapOptions.title"
                        [colors]="treeMapOptions.colors"
                    ></apx-chart>
                </div>
            </div>
            <div class="flex flex-col w-1/2 gap-y-4">
                <div class="flex justify-end items-end gap-x-2">
                    <button mat-flat-button class="detail-btn" (click)="showBillingDetail()">DETAILS</button>
                    <dx-select-box [items]="billingPeriodList" displayExpr="name" valueExpr="value" class="form-control" label="Month"
                        placeholder="Select Month" lableMode="static" id="month" [(ngModel)]="selectedMonth" (valueChange)="onBillingMonthChange($event)">
                    </dx-select-box>
                </div>
                <div class="flex w-full">
                    <dx-data-grid
                        #grid
                        [dataSource]="billingSummaryDataSource"
                        [showBorders]="true"
                        id="slip-grid-container"
                        [hoverStateEnabled]="true"
                    >
                        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                        <dxi-column dataField="name" caption="" cellTemplate="cellGroupTemplate"></dxi-column>
                        <dxi-column dataField="usage" caption="Usage" [width]="120" cellTemplate="cellDigitTemplate"></dxi-column>
                        <dxi-column dataField="amount" caption="Amount" cellTemplate="cellValueTemplate" [width]="120"></dxi-column>
                        <div *dxTemplate="let data of 'cellValueTemplate'">
                            <ng-container *ngIf="data.value != null; else emptyTemplate">
                                R {{data.value | number : '1.0-2'}}
                            </ng-container>
                            <ng-template #emptyTemplate></ng-template>
                        </div>
                        <div *dxTemplate="let data of 'cellDigitTemplate'">
                            <ng-container *ngIf="data.value != null; else emptyTemplate">
                                {{data.value | number : '1.0-2'}}
                            </ng-container>
                            <ng-template #emptyTemplate></ng-template>
                        </div>
                        <div *dxTemplate="let data of 'cellGroupTemplate'">
                            <div class="flex gap-x-2 items-center"><div class="w-3 h-3 rounded-sm" [ngStyle]="{'background-color': getColorFromGroupName(data.value)}"></div> {{data.value}}</div>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col bg-card relative" style="height: 400px;">
                <div class="flex absolute left-2 top-3 gap-x-2 text-xl font-semibold">
                    <img class="graph-icon" src="/assets/images/icons/electricity_1.svg"> Total Electricity - Billing
                </div>
                <div class="flex absolute right-2 top-2 gap-x-2 z-90">
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingElectricityChartType = 'Line'" [ngClass]="{'selected-graph-type': billingElectricityChartType == 'Line'}">
                        <img src="/assets/images/icons/line-graph.svg" class="h-full">
                    </div>
                    <div class="border-graph"></div>
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingElectricityChartType = 'Bar'" [ngClass]="{'selected-graph-type': billingElectricityChartType == 'Bar'}">
                        <img src="/assets/images/icons/bar-graph.svg" class="h-full">
                    </div>                
                </div>
                <apx-chart
                    *ngIf="billingElectricityChartType == 'Bar'"
                    class="w-full mt-6"
                    [series]="billingElectricitySeries"
                    [chart]="commonBarChartOptions.chart"
                    [stroke]="commonBarChartOptions.stroke"
                    [dataLabels]="commonBarChartOptions.dataLabels"
                    [plotOptions]="commonBarChartOptions.plotOptions"
                    [xaxis]="commonBarChartOptions.xaxis"
                    [yaxis]="commonBarChartOptions.yaxis"
                    [colors]="billingElectricitySeriesColors"
                ></apx-chart>
                <apx-chart
                    *ngIf="billingElectricityChartType == 'Line'"
                    class="w-full mt-6"
                    [series]="billingElectricitySeries"
                    [chart]="commonLineChartOptions.chart"
                    [xaxis]="commonLineChartOptions.xaxis"
                    [stroke]="commonLineChartOptions.stroke"
                    [markers]="commonLineChartOptions.markers"
                    [grid]="commonLineChartOptions.grid"
                    [yaxis]="commonLineChartOptions.yaxis"
                    [title]="commonLineChartOptions.title"
                    [colors]="billingElectricitySeriesColors"
                ></apx-chart>
            </div>
            <div class="flex flex-col bg-card relative">
                <div class="flex absolute left-2 top-3 gap-x-2 text-xl font-semibold">
                    <img class="graph-icon" src="/assets/images/icons/electricity_1.svg"> Total Electricity - Billing Usages (kWh)
                </div>
                <div class="flex absolute right-2 top-2 gap-x-2 z-90">
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingUsageElectricityChartType = 'Line'" [ngClass]="{'selected-graph-type': billingUsageElectricityChartType == 'Line'}">
                        <img src="/assets/images/icons/line-graph.svg" class="h-full">
                    </div>
                    <div class="border-graph"></div>
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingUsageElectricityChartType = 'Bar'" [ngClass]="{'selected-graph-type': billingUsageElectricityChartType == 'Bar'}">
                        <img src="/assets/images/icons/bar-graph.svg" class="h-full">
                    </div>                
                </div>
                <apx-chart
                    *ngIf="billingUsageElectricityChartType == 'Bar'"
                    class="w-full mt-6"
                    [series]="billingUsageElectricitySeries"
                    [chart]="commonUsageBarChartOptions.chart"
                    [stroke]="commonUsageBarChartOptions.stroke"
                    [dataLabels]="commonUsageBarChartOptions.dataLabels"
                    [plotOptions]="commonUsageBarChartOptions.plotOptions"
                    [xaxis]="commonUsageBarChartOptions.xaxis"
                    [yaxis]="commonUsageBarChartOptions.yaxis"
                    [colors]="billingElectricitySeriesColors"
                ></apx-chart>
                <apx-chart
                    *ngIf="billingUsageElectricityChartType == 'Line'"
                    class="w-full mt-6"
                    [series]="billingUsageElectricitySeries"
                    [chart]="commonLineUsageChartOptions.chart"
                    [xaxis]="commonLineUsageChartOptions.xaxis"
                    [stroke]="commonLineUsageChartOptions.stroke"
                    [markers]="commonLineUsageChartOptions.markers"
                    [grid]="commonLineUsageChartOptions.grid"
                    [yaxis]="commonLineUsageChartOptions.yaxis"
                    [title]="commonLineUsageChartOptions.title"
                    [colors]="billingElectricitySeriesColors"
                ></apx-chart>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col bg-card relative" style="height: 400px;">
                <div class="flex absolute left-2 top-3 gap-x-2 text-xl font-semibold">
                    <img class="graph-icon" src="/assets/images/icons/water_1.svg"> Total Water - Billing
                </div>
                <div class="flex absolute right-2 top-2 gap-x-2 z-90">
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingWaterChartType = 'Line'" [ngClass]="{'selected-graph-type': billingWaterChartType == 'Line'}">
                        <img src="/assets/images/icons/line-graph.svg" class="h-full">
                    </div>
                    <div class="border-graph"></div>
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingWaterChartType = 'Bar'" [ngClass]="{'selected-graph-type': billingWaterChartType == 'Bar'}">
                        <img src="/assets/images/icons/bar-graph.svg" class="h-full">
                    </div>                
                </div>
                <apx-chart
                    *ngIf="billingWaterChartType == 'Bar'"
                    class="w-full mt-6"
                    [series]="billingWaterSeries"
                    [chart]="commonBarChartOptions.chart"
                    [stroke]="commonBarChartOptions.stroke"
                    [dataLabels]="commonBarChartOptions.dataLabels"
                    [plotOptions]="commonBarChartOptions.plotOptions"
                    [xaxis]="commonBarChartOptions.xaxis"
                    [yaxis]="commonBarChartOptions.yaxis"
                    [colors]="billingWaterSeriesColors"
                ></apx-chart>
                <apx-chart
                    *ngIf="billingWaterChartType == 'Line'"
                    class="w-full mt-6"
                    [series]="billingWaterSeries"
                    [chart]="commonLineChartOptions.chart"
                    [xaxis]="commonLineChartOptions.xaxis"
                    [stroke]="commonLineChartOptions.stroke"
                    [markers]="commonLineChartOptions.markers"
                    [grid]="commonLineChartOptions.grid"
                    [yaxis]="commonLineChartOptions.yaxis"
                    [title]="commonLineChartOptions.title"
                    [colors]="billingWaterSeriesColors"
                ></apx-chart>
            </div>
            <div class="flex flex-col bg-card relative">
                <div class="flex absolute left-2 top-3 gap-x-2 text-xl font-semibold">
                    <img class="graph-icon" src="/assets/images/icons/water_1.svg"> Total Water - Billing Usages (kL)
                </div>
                <div class="flex absolute right-2 top-2 gap-x-2 z-90">
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingUsageWaterChartType = 'Line'" [ngClass]="{'selected-graph-type': billingUsageWaterChartType == 'Line'}">
                        <img src="/assets/images/icons/line-graph.svg" class="h-full">
                    </div>
                    <div class="border-graph"></div>
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingUsageWaterChartType = 'Bar'" [ngClass]="{'selected-graph-type': billingUsageWaterChartType == 'Bar'}">
                        <img src="/assets/images/icons/bar-graph.svg" class="h-full">
                    </div>                
                </div>
                <apx-chart
                    *ngIf="billingUsageWaterChartType == 'Bar'"
                    class="w-full mt-6"
                    [series]="billingUsageWaterSeries"
                    [chart]="commonUsageBarChartOptions.chart"
                    [stroke]="commonUsageBarChartOptions.stroke"
                    [dataLabels]="commonUsageBarChartOptions.dataLabels"
                    [plotOptions]="commonUsageBarChartOptions.plotOptions"
                    [xaxis]="commonUsageBarChartOptions.xaxis"
                    [yaxis]="commonUsageBarChartOptions.yaxis"
                    [colors]="billingWaterSeriesColors"
                ></apx-chart>
                <apx-chart
                    *ngIf="billingUsageWaterChartType == 'Line'"
                    class="w-full mt-6"
                    [series]="billingUsageWaterSeries"
                    [chart]="commonLineUsageChartOptions.chart"
                    [xaxis]="commonLineUsageChartOptions.xaxis"
                    [stroke]="commonLineUsageChartOptions.stroke"
                    [markers]="commonLineUsageChartOptions.markers"
                    [grid]="commonLineUsageChartOptions.grid"
                    [yaxis]="commonLineUsageChartOptions.yaxis"
                    [title]="commonLineUsageChartOptions.title"
                    [colors]="billingWaterSeriesColors"
                ></apx-chart>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col bg-card relative" style="height: 400px;">
                <div class="flex absolute left-2 top-3 gap-x-2 text-xl font-semibold">
                    <img class="graph-icon" src="/assets/images/icons/sewerage.svg"> Total Sewer - Billing
                </div>
                <div class="flex absolute right-2 top-2 gap-x-2 z-90">
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingSewerChartType = 'Line'" [ngClass]="{'selected-graph-type': billingSewerChartType == 'Line'}">
                        <img src="/assets/images/icons/line-graph.svg" class="h-full">
                    </div>
                    <div class="border-graph"></div>
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingSewerChartType = 'Bar'" [ngClass]="{'selected-graph-type': billingSewerChartType == 'Bar'}">
                        <img src="/assets/images/icons/bar-graph.svg" class="h-full">
                    </div>                
                </div>
                <apx-chart
                    *ngIf="billingSewerChartType == 'Bar'"
                    class="w-full mt-6"
                    [series]="billingSewerageSeries"
                    [chart]="commonBarChartOptions.chart"
                    [stroke]="commonBarChartOptions.stroke"
                    [dataLabels]="commonBarChartOptions.dataLabels"
                    [plotOptions]="commonBarChartOptions.plotOptions"
                    [xaxis]="commonBarChartOptions.xaxis"
                    [yaxis]="commonBarChartOptions.yaxis"
                    [colors]="billingSewerageSeriesColors"
                ></apx-chart>
                <apx-chart
                    *ngIf="billingSewerChartType == 'Line'"
                    class="w-full mt-6"
                    [series]="billingSewerageSeries"
                    [chart]="commonLineChartOptions.chart"
                    [xaxis]="commonLineChartOptions.xaxis"
                    [stroke]="commonLineChartOptions.stroke"
                    [markers]="commonLineChartOptions.markers"
                    [grid]="commonLineChartOptions.grid"
                    [yaxis]="commonLineChartOptions.yaxis"
                    [title]="commonLineChartOptions.title"
                    [colors]="billingSewerageSeriesColors"
                ></apx-chart>
            </div>
            <div class="flex flex-col bg-card relative">
                <div class="flex absolute left-2 top-3 gap-x-2 text-xl font-semibold">
                    <img class="graph-icon" src="/assets/images/icons/sewerage.svg"> Total Sewer - Billing Usages (kL)
                </div>
                <div class="flex absolute right-2 top-2 gap-x-2 z-90">
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingUsageSewerChartType = 'Line'" [ngClass]="{'selected-graph-type': billingUsageSewerChartType == 'Line'}">
                        <img src="/assets/images/icons/line-graph.svg" class="h-full">
                    </div>
                    <div class="border-graph"></div>
                    <div class="p-2 graph-type-item cursor-pointer" (click)="billingUsageSewerChartType = 'Bar'" [ngClass]="{'selected-graph-type': billingUsageSewerChartType == 'Bar'}">
                        <img src="/assets/images/icons/bar-graph.svg" class="h-full">
                    </div>                
                </div>
                <apx-chart
                    *ngIf="billingUsageSewerChartType == 'Bar'"
                    class="w-full mt-6"
                    [series]="billingUsageSewerageSeries"
                    [chart]="commonUsageBarChartOptions.chart"
                    [stroke]="commonUsageBarChartOptions.stroke"
                    [dataLabels]="commonUsageBarChartOptions.dataLabels"
                    [plotOptions]="commonUsageBarChartOptions.plotOptions"
                    [xaxis]="commonUsageBarChartOptions.xaxis"
                    [yaxis]="commonUsageBarChartOptions.yaxis"
                    [colors]="billingSewerageSeriesColors"
                ></apx-chart>
                <apx-chart
                    *ngIf="billingUsageSewerChartType == 'Line'"
                    class="w-full mt-6"
                    [series]="billingUsageSewerageSeries"
                    [chart]="commonLineUsageChartOptions.chart"
                    [xaxis]="commonLineUsageChartOptions.xaxis"
                    [stroke]="commonLineUsageChartOptions.stroke"
                    [markers]="commonLineUsageChartOptions.markers"
                    [grid]="commonLineUsageChartOptions.grid"
                    [yaxis]="commonLineUsageChartOptions.yaxis"
                    [title]="commonLineUsageChartOptions.title"
                    [colors]="billingSewerageSeriesColors"
                ></apx-chart>
            </div>
        </div>
    </ng-container>
    
</div>