<div class="flex flex-col flex-auto min-w-120 max-w-120 max-h-screen -m-6 ">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium text-white">Change Password</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form
        class="flex flex-col flex-0 w-full p-4 sm:p-6 gap-y-2"
        [formGroup]="form"
        [passwordMatchValidator]="['newPwd', 'confPwd']">
        <div class="row grid grid-cols-1 gap-2">
            <div class="col-span-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <mat-label class="form-label"> Password </mat-label>
                    <input matInput type="password" [formControlName]="'currPwd'" [placeholder]="'Current Password'"/>
                    <mat-error *ngIf="form.get('currPwd').getError('required')">
                        Current Password is required
                    </mat-error>
                    <mat-error *ngIf="form.get('currPwd').errors?.minlength">
                        Current Password must be at least three characters.
                    </mat-error>
                    <mat-error *ngIf="form.get('currPwd').errors?.check">
                        Supplied password is incorrect.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-span-1">
            <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                <mat-label class="form-label"> New Password </mat-label>
                <input matInput type="password" [formControlName]="'newPwd'" [placeholder]="'New Password (required)'"/>
                <mat-error *ngIf="form.get('newPwd').getError('required')">
                    New Password is required
                </mat-error>
                <mat-error *ngIf="form.get('newPwd').errors?.minlength">
                    New Password must be at least three characters.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-span-1">
            <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                <mat-label class="form-label"> Confirm Password </mat-label>
                <input matInput type="password" [formControlName]="'confPwd'" [placeholder]="'Confirm Password (required)'"/>
                <mat-error *ngIf="form.get('confPwd').errors?.required">
                    Confirm Password is required.
                </mat-error>
                <mat-error *ngIf="form.get('confPwd').getError('matchValueError')">
                    Passwords do not match.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row flex gap-y-2 justify-end flex">
            <div class="col-span-1">
                <button mat-stroked-button color="primary" class="w-30 mr-4" type="button" (click)="close()">Cancel</button>
                <button mat-raised-button color="primary"  class="dnm-btn dnm-btn-primary w-30" type="button" [disabled]="!form.valid" (click)="submit()">Change</button>
            </div>
        </div>
    </form>
</div>