<div style="margin: 40px 10px;">
  <section style="text-align: left; margin: 30px 0">
  </section>
  <div *ngIf="meter$ | async as meter">
    <div class="card row">
      <div class="info col-md-12">
        <h1 class="title card-header">Meter Details for Meter: {{ meter.MeterNo }}</h1>
        <div class="card-body description">
          <div class="row">
            <div class="col-md-6"><b><em>Description:</em></b></div>
            <div class="col-md-6">{{ meter.Description }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Building:</em></b></div>
            <div class="col-md-6">{{ meter.BuildingName }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Make:</em></b></div>
            <div class="col-md-6">{{ meter.Make }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Model:</em></b></div>
            <div class="col-md-6">{{ meter.Model }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Phase:</em></b></div>
            <div class="col-md-6">{{ meter.Phase }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>CB Size:</em></b></div>
            <div class="col-md-6">{{ meter.CbSize }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>CT Size Primary:</em></b></div>
            <div class="col-md-6">{{ meter.CtSizePrim }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>CT Size Secondary:</em></b></div>
            <div class="col-md-6">{{ meter.CtSizeSec }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Programmed Factor:</em></b></div>
            <div class="col-md-6">{{ meter.ProgFact }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Displayed Digits:</em></b></div>
            <div class="col-md-6">{{ meter.Digits }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Utility:</em></b></div>
            <div class="col-md-6">{{ meter.Utility }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Scada Comms Id:</em></b></div>
            <div class="col-md-6">{{ meter.CommsId }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Scada Serial No.:</em></b></div>
            <div class="col-md-6">{{ meter.MeterSerial }}</div>
          </div>
        </div>

        <div class="card-footer col-md-12">
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px"
                  [routerLink]="['/admin/amrMeter']"
                  queryParamsHandling="preserve">
            <i class="fa fa-chevron-left"></i> Back
          </button>
          <button class="btn btn-outline-primary"
                  style="width:80px"
                  [routerLink]="['/admin/amrMeter/edit', meter.UserId, meter.Id]">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


