<div class="flex flex-col relative">
  <!-- <div class="absolute left-2 top-2 z-20">
    <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" [routerLink]="['/admin/amrMeter/edit', user.Id, 0]">
      <mat-icon [svgIcon]="'feather:addMeter'" class="mr-1"></mat-icon>
      Add New Meter
    </button>
  </div> -->
  <div class="flex w-full">
    <div class="flex flex-col bg-card p-2">
      <dx-data-grid
          [dataSource]="meters$ | async"
          [showBorders]="true"
          class="grid-container"
      >
          <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
          <dxo-paging [pageSize]="10"> </dxo-paging>
          <dxo-pager
              [visible]="true"
              [allowedPageSizes]="allowedPageSizes"
              [displayMode]="'compact'"
              [showPageSizeSelector]="true"
              [showInfo]="true"
              [showNavigationButtons]="true"
          >
          </dxo-pager>
          <dxo-search-panel
              [visible]="true"
              [width]="200"
              placeholder="Search..."
          ></dxo-search-panel>
          <dxo-filter-row [visible]="'true'" [applyFilter]="currentFilter"></dxo-filter-row>
          <dxi-column dataField="MeterNo" [width]="200"></dxi-column>
          <dxi-column dataField="Description"></dxi-column>
          <dxi-column dataField="Make" [width]="120"></dxi-column>
          <dxi-column dataField="Model" [width]="120"></dxi-column>
          <dxi-column type="buttons">
            <dxi-button
              hint="Edit"
              icon="edit"
              [onClick]="onEdit"
            ></dxi-button>
          </dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>
