<div class="flex flex-col relative">
    <div class="absolute left-2 top-2 z-20">
      <button [matTooltip]="'New Meter Assignment'" mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" (click)="onAdd()">
        <mat-icon [svgIcon]="'feather:addMeter'" class="mr-1"></mat-icon>
        Add New
      </button>
    </div>
    <div class="flex w-full">
      <div class="flex flex-col bg-card p-2">
        <dx-data-grid
            [dataSource]="scadaRequestDetails"
            [showBorders]="true"
            class="grid-container"
        >
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-pager
                [visible]="true"
                [allowedPageSizes]="allowedPageSizes"
                [displayMode]="'compact'"
                [showPageSizeSelector]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-search-panel
                [visible]="true"
                [width]="200"
                placeholder="Search..."
            ></dxo-search-panel>
            <dxo-filter-row [visible]="'true'" [applyFilter]="currentFilter"></dxo-filter-row>
            <dxi-column dataField="AmrMeter.MeterNo" caption="Meter No" [width]="120"></dxi-column>
            <dxi-column dataField="AmrMeter.Description" caption="Meter Description" [width]="160"></dxi-column>
            <dxi-column dataField="StatusLabel" caption="Status" [width]="130"></dxi-column>
            <dxi-column dataField="UpdateFrequency" caption="Update Frequency" [width]="130"></dxi-column>
            <dxi-column dataField="CurrentRunDTM" [customizeText]="onCustomizeDateTime"></dxi-column>
            <dxi-column dataField="LastRunDTM" [customizeText]="onCustomizeDateTime"></dxi-column>
            <dxi-column dataField="LastDataDate" [customizeText]="onCustomizeDateTime"></dxi-column>
            
            <dxi-column type="buttons">
              <dxi-button
                hint="Edit"
                icon="edit"
                [onClick]="onEdit"
              ></dxi-button>
              <dxi-button
                [cssClass]="'text-red-500'"
                hint="Remove"
                icon="trash"
                [onClick]="onRemove"
              ></dxi-button>
            </dxi-column>
        </dx-data-grid>

        <div class="pt-3 px-4 border-t border-gray-300 text-gray-600 flex justify-end gap-x-4">
            <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" (click)="back()">Back</button>
        </div>
      </div>
    </div>
  </div>
  