.card img{
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
    font-size: 18px;
}
.home-tab-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
}
.grid-container {
    max-height: 500px;
}
::ng-deep .mat-tab-group .mat-tab-body.mat-tab-body-active {
    overflow: visible;
    .mat-tab-body-content {
        overflow: visible;
    }
}
.service-icon, .service-icon::before {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    border-radius: 100%;
    padding: 4px;
}
.service-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    background-color: white;
}
.electricity-icon::before, .water-icon::before {
    opacity: 0.25;
}
.dx-row:hover {
    background: #e2e2e2;
}
.width-fit {
    width: fit-content;
}
.card-zoom-in:hover {
    width: 101%;
    height: 101%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4);
}
.co2-card {
    border-radius: 10px; 
    background: linear-gradient(90deg, #FFF -20%, rgba(37, 37, 37, 0.3) 128.5%); 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    color:#212121;
}