<div class="flex flex-col gap-y-4">
    <div class="flex flex-col width-fit gap-y-4 width-fit">
        <div class="flex px-4 justify-between">
            <div class="flex items-center gap-x-4" [formGroup]="form">
                <div class="text-lg font-semibold whitespace-nowrap">Show the </div>
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <input matInput type="number" [formControlName]="'NoOfPeaks'"/> 
                </mat-form-field>
                <span class="text-lg font-semibold whitespace-nowrap">highest usages</span>
            </div>
            <div class="flex">
                <button mat-raised-button color="primary" class="apply-btn dnm-btn dnm-btn-primary min-w-30" (click)="onAlarmConfigBurstPipe()">Apply</button>
            </div>
        </div>
        <div class="flex flex-col py-6 gap-y-1 bg-gray-200 px-4">
            <div class="flex" *ngFor="let config of configInfo; let i = index;">
                <div class="text-lg font-semibold min-w-80">Peak On {{config.ReadingDate}} {{i + 1}}:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [value]="config.Peak"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">KL</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col py-6 gap-y-1 px-4">
            <div class="flex gap-x-3" [formGroup]="analyzeForm">
                <div class="flex items-center">
                    <div class="text-lg font-semibold min-w-80">Alarm Threshold Value:</div>
                    <div class="flex items-center gap-x-1">
                        <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                            <input matInput type="text" [formControlName]="'Threshold'"/> 
                        </mat-form-field>
                        <span class="text-lg font-semibold">KL</span>
                    </div>
                </div>
                <div class="flex items-center gap-x-2">
                    <div class="text-lg font-semibold">For:</div>
                    <div class="flex items-center gap-x-1">
                        <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                            <input matInput type="number" [formControlName]="'Duration'"/> 
                        </mat-form-field>
                        <span class="text-lg font-semibold whitespace-nowrap">Consecutive Profiles</span>
                    </div>
                </div>
                <div class="flex ml-4">
                    <button mat-raised-button color="primary" class="apply-btn dnm-btn dnm-btn-primary min-w-30" (click)="getAlarmAnalyzeBurstPipe()">Apply</button>
                </div>
            </div>
        </div>
        <div class="flex justify-between w-full px-4">
            <div class="flex items-center">
                <div class="text-lg font-semibold min-w-80">Number of Alarms for above period:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [readonly]="true" value="{{analyzeInfo ? analyzeInfo.NoOfAlarms : ''}}"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold hidden">KL</span>
                </div>
            </div>
            <div class="flex items-center">
                <div class="text-lg font-semibold min-w-20">Active:</div>
                <mat-checkbox [color]="'primary'" [(ngModel)]="active"></mat-checkbox>
            </div>
        </div>
    </div>
    <div class="pt-3 border-t border-gray-300 text-gray-600 flex justify-end gap-x-4">
        <button class="dnm-btn dnm-btn-delete" type="button" (click)="onRemove()">Delete</button>
        <button routerLink="/admin" class="dnm-btn dnm-btn-cancel" type="button">Cancel</button>
        <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" type="button" (click)="onSave()">Save</button>
    </div>
</div>