<div class="flex flex-col gap-y-4">
    <div class="flex w-full">
        <dx-data-grid
            [dataSource]="dataSource"
            [showBorders]="true"
            class="grid-container"
            [hoverStateEnabled]="true"
        >
            <dxo-filter-row [visible]="'true'" [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="15"> </dxo-paging>
            <dxo-pager
                [visible]="true"
                [allowedPageSizes]="allowedPageSizes"
                [displayMode]="'compact'"
                [showPageSizeSelector]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-search-panel
                [visible]="true"
                [width]="200"
                placeholder="Search..."
            ></dxo-search-panel>
            <dxi-column dataField="FileName" caption="File Name" [minWidth]="100"></dxi-column>
            <dxi-column dataField="CreatedDateTime" [customizeText]="onCustomizeDateTime" caption="Date Created" [minWidth]="100"></dxi-column>
            <dxi-column type="buttons">
                <dxi-button
                    hint="Download"
                    icon="download"
                    [onClick]="onDownload"
                ></dxi-button>
            </dxi-column>
        </dx-data-grid>
    </div>
</div>