<div class="flex flex-col gap-y-3">
    <span class="text-lg font-semibold">Billing Details for Tenant: {{tenantName}}</span>
    <div class="flex justify-between">
        <dx-select-box [items]="periodList$ | async" displayExpr="PeriodName" valueExpr="PeriodId" class="form-control" label="Month" [(ngModel)]="periodId" (onValueChanged)="changePeriod($event)"
            [itemTemplate]="custPeriodTemplate" required placeholder="Select Month" lableMode="static" id="buildingPeriod" name="BuildingPeriod" [searchEnabled]="true">
        </dx-select-box>
    </div>
     <div class="flex flex-col shop-section" *ngFor="let shop of shopList">
        <div class="flex justify-between font-semibold text-lg pl-10 pr-5 py-3" style="border-bottom: 1px solid #ccc;">
            <span>{{shop.Shop}}</span>
            <span>Total: R {{shop.Amount | number : '1.0-2'}}</span>
        </div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let group of shop['Groups']">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="font-semibold">{{group['InvGroup']}}</span>                        
                      </mat-panel-title>
                      <mat-panel-description>
                        Total: R {{group['Amount'] | number : '1.0-2'}}
                      </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="flex flex-col text-black" *ngFor="let billingType of group['BillingTypes']">
                    <div class="flex items-center billing-type-detail border-bottom">
                        <span class="font-semibold">{{billingType['BillingType']}}</span>
                    </div>
                    <div class="flex flex-col" *ngFor="let billing of billingType['Billings']">
                        <ng-container *ngIf="billingType['BillingType'] == 'Metered Charges'; else ServiceChargeTemplate">
                            <div class="flex border-bottom billing-detail justify-between">
                                <div class="flex">
                                    <div class="flex flex-col min-w-60">
                                        <span class="font-semibold">Meter No:</span>
                                        <span>{{billing['MeterNo']}}</span>
                                    </div>
                                    <div class="flex flex-col">
                                        <span class="font-semibold">Billed Usage:</span>
                                        <span>{{billing['Amount']}}</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <span class="text-black font-semibold">Total: R {{billing['Amount'] | number : '1.0-2'}}</span>
                                </div>
                            </div>
                            <div class="flex border-bottom billing-detail">
                                <div class="flex flex-col min-w-60">
                                    <span class="font-semibold">Readings:</span>
                                    <span class="mt-1">{{billing['CurrentReading'] | number : '1.0-2'}} on {{billing['ReadingDate'] | date : 'dd/MM/YYYY'}}</span>
                                    <span>{{billing['PreviousReading'] != '*NA' ? (billing['PreviousReading'] | number : '1.0-2') : '*NA'}} on {{billing['PreviousReadingDate'] | date : 'dd/MM/YYYY'}}</span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #ServiceChargeTemplate>
                            <div class="flex border-bottom billing-detail justify-between">
                                <div class="flex">
                                    <div class="flex flex-col min-w-60">
                                        <span>{{billing['MeterNo']}}</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <span class="text-black font-semibold">Total: R {{billing['Amount'] | number : '1.0-2'}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    
                </div>
            </mat-expansion-panel>
        </mat-accordion>
     </div>
</div>