::ng-deep .mat-expansion-indicator{
    position: absolute;
    left: 12px;
}
::ng-deep .mat-expansion-indicator::after {
    border-color: black;
}
::ng-deep .mat-accordion .mat-expansion-panel {
    margin-bottom: 0px !important;
    border-radius: 0px !important; 
    .mat-expansion-panel-body {
        padding: 0px !important;
    }
    &.mat-expansion-panel-spacing {
        margin: 0px 0px !important;
    }
    .mat-expansion-panel-header {
        .mat-expansion-panel-header-description {
            margin-right: 0px;
            justify-content: flex-end;
        }
        &:hover {
            background: #efefef;
        }
        &.mat-expanded {
            height: 42px;
        }
        &.mat-expanded:hover {
            background: #efefef;
        }
        border-bottom: 1px solid #ccc;
        background: #ececec;
        .mat-content {
            padding-left: 16px;
        }
    }
}
::ng-deep .mat-accordion .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: #efefef !important;
}
.shop-section {
    border: 1px solid #ccc;
    border-bottom: 0px;
    background-color: white;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}
.billing-detail {
    padding: 8px 24px 8px 70px;
}
.billing-type-detail {
    padding: 8px 0 8px 40px;
}