<div class="flex flex-col gap-y-2 relative">
    <div class="flex absolute z-10 left-2">
        <form [formGroup]="form" class="w-full">
            <div class="grid grid-cols-4 gap-2">
                <div class="col-span-1">
                    <dx-select-box [readOnly]="partnerId > 0" [items]="partnerList$ | async" displayExpr="Name" valueExpr="Id" class="form-control" label="Partner"
                                    [itemTemplate]="custPartnerTemplate" placeholder="Select Partner" lableMode="static" id="partner"
                                    [formControlName]="'PartnerId'" name="partner" (onValueChanged)="valueChanged($event, 'Partner')"
                                    [searchEnabled]="true" searchExpr="Name" searchMode="contains" [searchTimeout]="400">
                    </dx-select-box>
                </div>
                <div class="col-span-1">
                    <dx-select-box [readOnly]="buildingId > 0" [items]="buildingList$ | async" displayExpr="Name" valueExpr="BuildingId" class="form-control" label="Building"
                                    [itemTemplate]="custBldTemplate" required placeholder="Select Building" lableMode="static" id="building"
                                    [formControlName]="'BuildingId'" name="building" (onValueChanged)="valueChanged($event, 'Building')"
                                    [searchEnabled]="true" searchExpr="Name" searchMode="contains" [searchTimeout]="400">
                    </dx-select-box>
                </div>
                <div class="col-span-1">
                    <button mat-raised-button [color]="'primary'" type="button" [title]="'Acknowledge Selected'" class="dnm-btn dnm-btn-primary ack-btn" (click)="doAcknowledge()"
                        [disabled]="!validAcknowledge">
                        Acknowledge Selected
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="flex w-full">
        <dx-data-grid
            #grid
            [dataSource]="dataSource"
            [showBorders]="true"
            id="slip-grid-container"
            [hoverStateEnabled]="true"
            [selection]="selection"
            (onSelectionChanged)="rowSelect($event)"
            (onRowClick)="onRowClick($event)"
        >
            <!-- <dxo-selection mode="single"></dxo-selection> -->
            <dxo-filter-row [visible]="'true'"
                [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="15"> </dxo-paging>
            <dxo-pager
                [visible]="true"
                [allowedPageSizes]="allowedPageSizes"
                [displayMode]="'compact'"
                [showPageSizeSelector]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-search-panel
                [visible]="true"
                [width]="200"
                placeholder="Search..."
            ></dxo-search-panel>
            <dxi-column dataField="MeterNo" caption="Meter No" [width]="100"></dxi-column>
            <dxi-column dataField="MeterSerial" caption="Meter Serial" [width]="120"></dxi-column>
            <dxi-column dataField="Description" caption="Description"></dxi-column>
            <dxi-column dataField="AlarmName" caption="Alarm" [width]="100"></dxi-column>
            <dxi-column dataField="AlarmDescription" caption="Alarm Description"></dxi-column>
            <dxi-column dataField="OccStartDTM" caption="Start" [customizeText]="onCustomizeDateTime"></dxi-column>
            <dxi-column dataField="Threshold" caption="Threshold" [width]="80"></dxi-column>
            <dxi-column dataField="Duration" caption="Duration" [width]="70"></dxi-column>
            <dxi-column dataField="AverageObserved" caption="Average" [width]="70"></dxi-column>
            <dxi-column dataField="MaximumObserved" caption="Maximum" [width]="80"></dxi-column>
        </dx-data-grid>
    </div>
</div>