<div class="flex flex-col gap-y-2 relative">
    <div class="flex absolute z-10 left-2">
        <form [formGroup]="form" class="w-full">
            <div class="grid grid-cols-4 gap-2">
                <div class="col-span-1">
                    <dx-select-box [readOnly]="partnerId > 0" [items]="partnerList$ | async" displayExpr="Name" valueExpr="Id" class="form-control" label="Partner"
                                    [itemTemplate]="custPartnerTemplate" placeholder="Select Partner" lableMode="static" id="partner"
                                    [formControlName]="'PartnerId'" name="partner" (onValueChanged)="valueChanged($event, 'Partner')"
                                    [searchEnabled]="true" searchExpr="Name" searchMode="contains" [searchTimeout]="400">
                    </dx-select-box>
                </div>
                <div class="col-span-1">
                    <dx-select-box [readOnly]="buildingId > 0" [items]="buildingList$ | async" displayExpr="Name" valueExpr="BuildingId" class="form-control" label="Building"
                                    [itemTemplate]="custBldTemplate" required placeholder="Select Building" lableMode="static" id="building"
                                    [formControlName]="'BuildingId'" name="building" (onValueChanged)="valueChanged($event, 'Building')"
                                    [searchEnabled]="true" searchExpr="Name" searchMode="contains" [searchTimeout]="400">
                    </dx-select-box>
                </div>
            </div>
        </form>
    </div>

    <div class="flex w-full">
        <dx-data-grid
            #grid
            [dataSource]="dataSource"
            [showBorders]="true"
            id="slip-grid-container"
            [hoverStateEnabled]="true"
            (onRowClick)="onRowClick($event)"
        >
            <!-- <dxo-selection mode="single"></dxo-selection> -->
            <dxo-filter-row [visible]="'true'"
                [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="15"> </dxo-paging>
            <dxo-pager
                [visible]="true"
                [allowedPageSizes]="allowedPageSizes"
                [displayMode]="'compact'"
                [showPageSizeSelector]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-search-panel
                [visible]="true"
                [width]="200"
                placeholder="Search..."
            ></dxo-search-panel>
            <dxi-column dataField="Occupied" caption="" [groupIndex]="0"></dxi-column>
            <dxi-column dataField="ShopName" caption="Shop Name" [minWidth]="100"></dxi-column>
            <dxi-column dataField="ShopNr" caption="Shop Number" [minWidth]="100"></dxi-column>
            <dxi-column dataField="ShopDescription" caption="Shop Description" [minWidth]="150"></dxi-column>
            <dxi-column dataField="ShopActive" caption="Active" [minWidth]="80"></dxi-column>
            <dxi-column dataField="ShopArea" caption="Shop Area" [minWidth]="100"></dxi-column>
            <dxi-column dataField="NoOfOccupations" caption="Number of Occupants" [minWidth]="100"></dxi-column>
            <dxo-summary>
                <dxi-group-item column="ShopName" summaryType="count" displayFormat="{0}">
                </dxi-group-item>
            </dxo-summary>
        </dx-data-grid>
    </div>
</div>