<div style="margin: 40px 10px;">
  <section style="text-align: left; margin: 30px 0">
  </section>
  <div *ngIf="amrUser">
    <div class="card row">
      <div class="info col-md-12">
        <h1 class="title card-header">User Details for User with Id: {{ amrUser.Id }}</h1>
        <div class="card-body description">
          <!--<div class="row">
            <div class="col-md-6"><b><em>ID:</em></b></div>
            <div class="col-md-6">{{ amrUser.Id }}</div>
          </div>
          <hr />-->
          <div class="row">
            <div class="col-md-6"><b><em>Profile Name:</em></b></div>
            <div class="col-md-6">{{ amrUser.ProfileName }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Scada Username:</em></b></div>
            <div class="col-md-6">{{ amrUser.ScadaUserName }}</div>
          </div>
          <hr />
          <!--<div class="row">
            <div class="col-md-6"><b><em>Scada Password:</em></b></div>
            <div class="col-md-6">{{ amrUser.ScadaPassword }}</div>
          </div>
          <hr />-->
          <div class="row">
            <div class="col-md-6"><b><em>Sgd Url:</em></b></div>
            <div class="col-md-6">{{ amrUser.SgdUrl }}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6"><b><em>Active:</em></b></div>
            <div class="col-md-6">{{ amrUser.Active }}</div>
            <hr />
          </div>
        </div>

        <div class="card-footer col-md-12">
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px"
                  [routerLink]="['/admin/amrUser']"
                  queryParamsHandling="preserve">
            <i class="fa fa-chevron-left"></i> Back
          </button>
          <button class="btn btn-outline-primary"
                  style="width:80px"
                  [routerLink]="['/admin/amrUser/edit', opUser.Id, amrUser.Id]">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

