<div class="flex flex-col flex-auto min-w-0 gap-y-4">
    <div class="flex border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full mx-auto admin">
            <mat-tab-group class="sm:px-2" [animationDuration]="'0'" (selectedTabChange)="onChange($event)"
                [selectedIndex]="selectedTab">
                <mat-tab label="Meter Mapping" *ngIf="!meterMappingDisabled"></mat-tab>
                <mat-tab label="Alarm Configuration"></mat-tab>
                <ng-container *ngFor="let detail of detailsList; let i = index;">
                    <mat-tab label="Detail">
                        <ng-template mat-tab-label>
                            {{detail.MeterNo}}
                            <mat-icon class="icon-size-4 hover:text-red-500 ml-2" [svgIcon]="'feather:x'" (click)="removeTab(i)"></mat-icon>
                        </ng-template>
                        <ng-template matTabContent>
                            <app-meter-alarm-detail [meter]="detail"></app-meter-alarm-detail>
                        </ng-template>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </div>
    </div>
    <div class="flex px-8 py-2" *ngIf="selectedTab <= minimalTabLength">
        <router-outlet></router-outlet>
    </div>
</div>
