<div class="flex flex-col relative">
    <div class="flex w-full">
      <div class="flex flex-col bg-card p-2">
        <div class="flex gap-x-4 flex-wrap" [formGroup]="searchForm">
            <div class="flex flex-col">
                <mat-label class="form-label"> Partners </mat-label>
                <ng-select
                    [items]="partners"
                    bindLabel="Name"
                    bindValue="Id"
                    class="w-60"
                    [placeholder]="'Partner'"
                    [formControlName]="'partnerId'"
                    [searchable]="true"
                    [closeOnSelect]="true"
                    [clearable]="false"
                    [multiple]="false"
                    [searchFn]="customSearch"
                    (change)="onPartnerChanged($event)"
                    >
                </ng-select>
            </div>
            <div class="flex flex-col">
                <mat-label class="form-label"> Buildings </mat-label>
                <ng-select
                    [items]="buildings"
                    bindLabel="Name"
                    bindValue="BuildingId"
                    class="w-60"
                    [placeholder]="'Buildings'"
                    [formControlName]="'buildingId'"
                    [searchable]="true"
                    [closeOnSelect]="true"
                    [clearable]="false"
                    [multiple]="false"
                    [searchFn]="customSearch"
                    (change)="onBuildingChanged($event)"
                    >
                </ng-select>
            </div>
            <div class="flex flex-col">
                <mat-label class="form-label"> Supply Type </mat-label>
                <ng-select
                    [items]="supplyTypeItems"
                    bindLabel="label"
                    bindValue="value"
                    class="w-60"
                    [placeholder]="'Supply Type'"
                    [formControlName]="'supplyType'"
                    [searchable]="true"
                    [closeOnSelect]="true"
                    [clearable]="false"
                    [multiple]="false"
                    [searchFn]="customSearch"
                    (change)="onSupplyTypeChange($event)"
                    >
                </ng-select>
            </div>
        </div>
        <dx-data-grid
            [dataSource]="metersWithAlarms"
            [showBorders]="true"
            class="grid-container"
            [hoverStateEnabled]="true"
            (onRowDblClick)="onSelectRow($event)"
        >
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-pager
                [visible]="true"
                [allowedPageSizes]="allowedPageSizes"
                [displayMode]="'compact'"
                [showPageSizeSelector]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-search-panel
                [visible]="true"
                [width]="200"
                placeholder="Search..."
            ></dxo-search-panel>
            <dxo-filter-row [visible]="'true'" [applyFilter]="currentFilter"></dxo-filter-row>
            <dxi-column dataField="MeterNo" caption="Meter No" [minWidth]="100"></dxi-column>
            <dxi-column dataField="SupplyType" caption="Supply Type" [minWidth]="100"></dxi-column>            
            <dxi-column dataField="Description" [minWidth]="200"></dxi-column>
            <dxi-column caption="Alarms Configuration" dataField="alarmConfig" [minWidth]="190" cellTemplate="alarmConfigTemplate"></dxi-column>
            <dxi-column caption="Alarms Triggered" dataField="alarmTriggered" [minWidth]="190" cellTemplate="alarmTriggerTemplate"></dxi-column>            
            <dxi-column dataField="Make" [minWidth]="100"></dxi-column>
            <dxi-column dataField="Model" [minWidth]="100"></dxi-column>
            <div *dxTemplate="let data of 'alarmConfigTemplate'">
                <div class="flex gap-x-1 justify-center items-center" *ngIf="data.value">
                    <img src="/assets/images/alarms/Night Flow.svg" class="w-6" [matTooltip]="'Night Flow'" *ngIf="data.value['Night Flow']"/>
                    <img src="/assets/images/alarms/Burst Pipe.svg" class="w-6" [matTooltip]="'Burst Pipe'" *ngIf="data.value['Burst Pipe']"/>
                    <img src="/assets/images/alarms/Leak Detection.svg" class="w-6" [matTooltip]="'Leak Detection'" *ngIf="data.value['Leak']"/>
                    <img src="/assets/images/alarms/Daily Usage.svg" class="w-6" [matTooltip]="'Daily Usage'" *ngIf="data.value['Daily Usage']"/>
                    <img src="/assets/images/alarms/Peak Usage.svg" class="w-6" [matTooltip]="'Peak Usage'" *ngIf="data.value['Peak']"/>
                    <img src="/assets/images/alarms/Average Usage.svg" class="w-6" [matTooltip]="'Average Usage'" *ngIf="data.value['Average']"/>
                </div>                
            </div>
            <div *dxTemplate="let data of 'alarmTriggerTemplate'">
                <div class="flex gap-x-1 justify-center items-center" *ngIf="data.value">
                    <img src="/assets/images/alarms/Trigger Night Flow.svg" class="w-6" [matTooltip]="'Night Flow'" *ngIf="data.value['Night Flow']"/>
                    <img src="/assets/images/alarms/Trigger Burst Pipe.svg" class="w-6" [matTooltip]="'Burst Pipe'" *ngIf="data.value['Burst Pipe']"/>
                    <img src="/assets/images/alarms/Trigger Leak Detection.svg" class="w-6" [matTooltip]="'Leak Detection'" *ngIf="data.value['Leak']"/>
                    <img src="/assets/images/alarms/Trigger Daily Usage.svg" class="w-6" [matTooltip]="'Daily Usage'" *ngIf="data.value['Daily Usage']"/>
                    <img src="/assets/images/alarms/Trigger Peak Usage.svg" class="w-6" [matTooltip]="'Peak Usage'" *ngIf="data.value['Peak']"/>
                    <img src="/assets/images/alarms/Trigger Average Usage.svg" class="w-6" [matTooltip]="'Average Usage'" *ngIf="data.value['Average']"/>
                </div>                
            </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
  