@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');
// @import "~font-awesome/scss/font-awesome.scss";

.nav-tabs {
  border-bottom: 3px solid #9fa1a3;
  padding-bottom: 1px;
}
.link-hover {
    font-family: 'Open Sans';
    width: 200px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    height: auto;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    transition: .4s all ease-in-out;
}
.link-hover:hover {
    background-position: 100% 0;
}
.wizard {
    display: inline-block;
    margin-top: 20px; 
}
.links {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #566787;
    font-weight: 500;
    font-size: 25px;
}
.links:hover {
    color: #3d4060;
    transition: .2s all ease-in-out;
}
.container {
    padding-top: 40px;
}
.nav-tabs .nav-link.active {
  color: #19233c;
  background-color: none !important;
}
.amr-edit {
  width: 36px;
  height: 36px;
}
// #amr-users:active {
//   background-image: url(../../../assets/Images/Users_Active.svg) !important;
//   width: 36px;
//   height: 36px;
// }

::ng-deep .admin .mat-tab-group .mat-tab-body-content {
  padding: 0px;
}