::ng-deep #gridContainer {
    min-height: 100px;
    max-height: 600px;
    width: 100%;
}
::ng-deep .dx-datagrid-headers table tbody tr {
    font-weight: bold;
    color: black;
}
::ng-deep .mat-expansion-panel-header-title {
    font-weight: bold;
    font-size: 16px;
    justify-content: space-between;
}