<div class="flex smart-services-dashboard-detail flex-col gap-y-4">
    <div class="flex gap-x-3">
        <div class="flex w-1/2">
            <app-period-criteria [type]="'Electricity'"  (dateRangeChangedEvent)="onShowElectricityDetail($event)"></app-period-criteria>
        </div>
        <div class="flex w-1/2">
            <app-period-criteria [type]="'Water'"  (dateRangeChangedEvent)="onShowWaterDetail($event)"></app-period-criteria>
        </div>
    </div>
    <div class="flex gap-x-3">
        <div class="flex bg-card flex-col py-5 px-4 rounded-md gap-y-3 w-1/2">
            <div class="flex justify-between">
                <span class="text-2xl font-mediumbold">Statistics</span>
            </div>
            <ng-container *ngIf="!isElectricityLoading; else loadingTemplate">
                <div class="flex flex-col text-lg font-mediumbold gap-y-1" *ngIf="electricityDetail">
                    <div class="flex justify-between" *ngFor="let statistic of electricityDetail['Statistics']">
                        <span class="text-lg">{{statistic['SupplyToLocationName']}}</span>
                        <span class="text-lg">{{statistic['Energy'] | number : '1.0-2'}} {{statistic['SupplyToLocationTypeId'] != 9999 ? 'kWh' : 'kVA'}}</span>
                    </div>
                </div>
            </ng-container>
            <ng-template #loadingTemplate>
                <div class="flex justify-center items-center min-h-40">
                    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'" [strokeWidth]="0" [value]="50" class="loading-spinner">
                    </mat-progress-spinner>
                </div>
            </ng-template>
        </div>
        <div class="flex bg-card flex-col py-5 px-4 rounded-md gap-y-3 w-1/2">
            <div class="flex justify-between">
                <span class="text-2xl font-mediumbold">Statistics</span>
            </div>
            <ng-container *ngIf="!isWaterLoading; else loadingTemplate">
                <div class="flex flex-col text-lg font-mediumbold gap-y-1" *ngIf="waterDetail">
                    <div class="flex justify-between" *ngFor="let statistic of waterDetail['Statistics']">
                        <span class="text-lg">{{statistic['SupplyToLocationName']}}</span>
                        <span class="text-lg">{{statistic['Usage'] | number : '1.0-2'}} {{statistic['SupplyToLocationTypeId'] != 902 ? 'KL' : ''}} </span>
                    </div>
                </div>
            </ng-container>
            <ng-template #loadingTemplate>
                <div class="flex justify-center items-center min-h-40">
                    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'" [strokeWidth]="0" [value]="50" class="loading-spinner">
                    </mat-progress-spinner>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="flex gap-x-3">
        <div class="flex bg-card flex-col py-2 rounded-md gap-y-3 w-1/2">
            <span class="text-xl font-mediumbold px-4">Energy Consumption (kWh)</span>
            <ng-container *ngIf="!isElectricityLoading; else loadingTemplate">
                <apx-chart
                    *ngIf="electricityDetail"
                    [series]="electricityConsumptionBarChartOptions.series"
                    [chart]="electricityConsumptionBarChartOptions.chart"
                    [dataLabels]="electricityConsumptionBarChartOptions.dataLabels"
                    [plotOptions]="electricityConsumptionBarChartOptions.plotOptions"
                    [responsive]="electricityConsumptionBarChartOptions.responsive"
                    [xaxis]="electricityConsumptionBarChartOptions.xaxis"
                    [yaxis]="electricityConsumptionBarChartOptions.yaxis"
                    [legend]="electricityConsumptionBarChartOptions.legend"
                    [fill]="electricityConsumptionBarChartOptions.fill"
                    [colors]="electricityConsumptionColors"
                    [tooltip]="electricityConsumptionBarChartOptions.tooltip"
                ></apx-chart>
            </ng-container>
            <ng-template #loadingTemplate>
                <div class="flex justify-center items-center min-h-50 h-full">
                    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'" [strokeWidth]="0" [value]="50" class="loading-spinner">
                    </mat-progress-spinner>
                </div>
            </ng-template>
        </div>
        <div class="flex bg-card flex-col py-2 px-4 rounded-md gap-y-3 w-1/2">
            <span class="text-xl font-mediumbold px-4">Water Consumption (KL)</span>
            <ng-container *ngIf="!isWaterLoading; else loadingTemplate">
                <apx-chart
                    *ngIf="waterDetail"
                    [series]="waterConsumptionBarChartOptions.series"
                    [chart]="waterConsumptionBarChartOptions.chart"
                    [dataLabels]="waterConsumptionBarChartOptions.dataLabels"
                    [plotOptions]="waterConsumptionBarChartOptions.plotOptions"
                    [responsive]="waterConsumptionBarChartOptions.responsive"
                    [xaxis]="waterConsumptionBarChartOptions.xaxis"
                    [yaxis]="waterConsumptionBarChartOptions.yaxis"
                    [legend]="waterConsumptionBarChartOptions.legend"
                    [fill]="waterConsumptionBarChartOptions.fill"
                    [colors]="waterConsumptionColors"
                    [tooltip]="waterConsumptionBarChartOptions.tooltip"
                ></apx-chart>
            </ng-container>            
            <ng-template #loadingTemplate>
                <div class="flex justify-center items-center min-h-50 h-full">
                    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'" [strokeWidth]="0" [value]="50" class="loading-spinner">
                    </mat-progress-spinner>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="flex gap-x-3">
        <div class="flex bg-card flex-col py-2 rounded-md gap-y-3 w-1/2">
            <span class="text-xl font-mediumbold px-4">Power Profile</span>
            <ng-container *ngIf="!isElectricityLoading; else loadingTemplate">
                <dx-chart [dataSource]="electricityProfileDatasource" class="w-full pr-2">
                    <dxo-size [height]="500"></dxo-size>
                    <dxi-series argumentField="ReadingDateString" valueField="Energy" name="Engery(kWh)" type="area" [opacity]="1" [color]="'#750000'">
                      <dxo-hover-style color="#750000"></dxo-hover-style>
                    </dxi-series>
                    <dxi-series argumentField="ReadingDateString" valueField="MaxDemand" name="Demand(kVA)" type="line" [color]="'#DA012D'">
                      <dxo-hover-style color="#DA012D"></dxo-hover-style>
                    </dxi-series>
                    <dxo-tooltip [enabled]="true" [zIndex]="5000" contentTemplate="content"></dxo-tooltip>
                    <dxo-argument-axis argumentType="string">
                      <dxo-label displayMode="rotate" [rotationAngle]="-40"></dxo-label>
                    </dxo-argument-axis>
                    <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
                    <dxo-zoom-and-pan argumentAxis="both"></dxo-zoom-and-pan>
                    <dxo-loading-indicator [enabled]="true"></dxo-loading-indicator>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" zIndex="6000"></dxo-legend>
                    <div *dxTemplate="let info of 'content'" class="state-tooltip"style="margin-left: -18px; margin-right: -18px;">
                        <div class="flex flex-col items-center" style="color: #212121;">
                            <div class="py-1.5 px-3 w-full mb-1" style="background-color: #EDEFF1;">
                                <span class="">{{info.argument | date : 'h:mm a, EEE, MMM d, yyyy'}}</span>
                            </div>
                            <div class="flex font-mediumbold gap-x-2 text-md items-center w-full px-3">
                                <div style="width: 9px; height: 9px; border-radius: 50%; background-color: #750000;"></div>
                                <span>Engery (kWh): {{getProfileData('electricity', 'Energy', info.point.index) | number : '1.0-2'}}</span>
                            </div>
                            <div class="flex font-mediumbold gap-x-2 text-md items-center w-full px-3">
                                <div style="width: 9px; height: 9px; border-radius: 50%; background-color: #DA012D;"></div>
                                <span>Demand (kVA): {{getProfileData('electricity', 'MaxDemand', info.point.index) | number : '1.0-2'}}</span>
                            </div>
                        </div>
                    </div>
                </dx-chart>
            </ng-container>
            <ng-template #loadingTemplate>
                <div class="flex justify-center items-center min-h-60 h-full">
                    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'" [strokeWidth]="0" [value]="50" class="loading-spinner">
                    </mat-progress-spinner>
                </div>
            </ng-template>
        </div>
        <div class="flex bg-card flex-col py-2 rounded-md gap-y-3 w-1/2">
            <span class="text-xl font-mediumbold px-4">Usage Profile</span>
            <ng-container *ngIf="!isWaterLoading; else loadingTemplate">
                <dx-chart [dataSource]="waterProfileDatasource" class="w-full pr-2">
                    <dxo-size [height]="500"></dxo-size>
                    <dxi-series argumentField="ReadingDateString" valueField="Usage" name="Usage(KL)" type="area" [opacity]="1" [color]="'#007FFF'">
                      <dxo-hover-style color="#007FFF"></dxo-hover-style>
                    </dxi-series>
                    <dxo-tooltip [enabled]="true" [zIndex]="5000" contentTemplate="content"></dxo-tooltip>
                    <dxo-argument-axis argumentType="string">
                      <dxo-label displayMode="rotate" [rotationAngle]="-40"></dxo-label>
                    </dxo-argument-axis>
                    <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
                    <dxo-zoom-and-pan argumentAxis="both"></dxo-zoom-and-pan>
                    <dxo-loading-indicator [enabled]="true"></dxo-loading-indicator>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" zIndex="6000"></dxo-legend>
                    <div *dxTemplate="let info of 'content'" class="state-tooltip"style="margin-left: -18px; margin-right: -18px;">
                        <div class="flex flex-col items-center" style="color: #212121;">
                            <div class="py-1.5 px-3 w-full mb-1" style="background-color: #EDEFF1;">
                                <span class="">{{info.argument | date : 'h:mm a, EEE, MMM d, yyyy'}}</span>
                            </div>
                            <div class="flex font-mediumbold gap-x-2 text-md items-center w-full px-3">
                                <div style="width: 9px; height: 9px; border-radius: 50%; background-color: #007FFF;"></div>
                                <span>Usage (KL): {{getProfileData('water', 'Usage', info.point.index) | number : '1.0-2'}}</span>
                            </div>
                        </div>
                    </div>
                </dx-chart>
            </ng-container>
            <ng-template #loadingTemplate>
                <div class="flex justify-center items-center min-h-60 h-full">
                    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'" [strokeWidth]="0" [value]="50" class="loading-spinner">
                    </mat-progress-spinner>
                </div>
            </ng-template>            
        </div>
    </div>
    <div class="flex gap-x-3">
        <div class="flex bg-card flex-col pt-2 pb-4 rounded-md gap-y-3 w-1/2 relative">
            <span class="text-xl font-mediumbold px-4">Power Factor at Peak</span>
            <ng-container *ngIf="!isElectricityLoading; else loadingTemplate">
                <dx-circular-gauge id="gauge" [value]="electricityPowerFactor" class="w-2/3 mx-auto">
                    <dxo-scale [startValue]="0.7" [endValue]="1.00" [tickInterval]="0.05">
                        <dxo-label [indentFromTick]="20">
                            <dxo-font [size]="20" [color]="'#212121'"> </dxo-font>
                        </dxo-label>
                        <dxo-tick [length]="20"></dxo-tick>
                    </dxo-scale>
                    <dxo-value-indicator type="triangleNeedle" color="#272525" width="20">
                    </dxo-value-indicator>
                    <dxo-range-container palette="pastel" [width]="30">
                      <dxi-range [startValue]="0.7" [endValue]="0.8" [color]="'#FF0000'"></dxi-range>
                      <dxi-range [startValue]="0.8" [endValue]="0.9" [color]="'#FFB6B6'"></dxi-range>
                      <dxi-range [startValue]="0.9" [endValue]="1" [color]="'#06B502'"></dxi-range>
                    </dxo-range-container>
                    <dxo-tooltip [enabled]="true" [zIndex]="5000" [customizeTooltip]="customizePowerFactorTooltip">
                        <dxo-font [size]="20"> </dxo-font>
                    </dxo-tooltip>
                    <dxo-geometry [startAngle]="180" [endAngle]="0" > </dxo-geometry>
                </dx-circular-gauge>
                <div class="flex justify-center absolute w-full bottom-4">
                    <span class="text-xl font-mediumbold">{{electricityPowerFactor | number : '1.0-2'}}</span>
                </div>
            </ng-container>       
            <ng-template #loadingTemplate>
                <div class="flex justify-center items-center min-h-40 h-full">
                    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'" [strokeWidth]="0" [value]="50" class="loading-spinner">
                    </mat-progress-spinner>
                </div>
            </ng-template>
        </div>
        <div class="flex bg-card flex-col pt-2 pb-4 rounded-md gap-y-3 w-1/2 relative">
            <span class="text-xl font-mediumbold px-4">Average vs Max Flow</span>
            <ng-container *ngIf="!isWaterLoading; else loadingTemplate">
                <div class="absolute right-2 flex font-mediumbold text-xl gap-x-3">
                    <div class="flex flex-col">
                        <span>Average</span>
                        <span>{{averageValue | number : '1.0-2'}}</span>
                    </div>
                    <div style="width: 2px; background-color: #EAEDF1; height: 50px;"></div>
                    <div class="flex flex-col">
                        <span>Max</span>
                        <span>{{maxValue | number : '1.0-2'}}</span>
                    </div>
                </div>
                <dx-circular-gauge id="gauge" [value]="maxValue" [subvalues]="[averageValue]" class="w-2/3 mx-auto">
                    <dxo-scale [startValue]="0" [endValue]="rangeEndValue" [tickInterval]="tickInterval">
                        <dxo-label [indentFromTick]="20">
                            <dxo-font [size]="20" [color]="'#212121'"> </dxo-font>
                        </dxo-label>
                        <dxo-tick [length]="20"></dxo-tick>
                    </dxo-scale>
                    <dxo-value-indicator type="triangleNeedle" color="#07067D" width="20">
                    </dxo-value-indicator>
                    <dxo-subvalue-indicator type="triangleNeedle" color="#9DCDEE" width="20">
                    </dxo-subvalue-indicator>
                    <dxo-range-container palette="pastel" [width]="30">
                        <dxi-range [startValue]="0" [endValue]="rangeEndValue" [color]="'#3365A2'"></dxi-range>
                    </dxo-range-container>
                    <dxo-tooltip [enabled]="true" [zIndex]="5000" [customizeTooltip]="customizeMaxAvgTooltip">
                        <dxo-font [size]="20"> </dxo-font>
                    </dxo-tooltip>
                    <dxo-geometry [startAngle]="180" [endAngle]="0"> </dxo-geometry>
                </dx-circular-gauge>
                <div class="flex justify-center absolute w-full bottom-4 items-center gap-x-5">
                    <div class="flex items-center gap-x-3">
                        <div class="legend-item average"></div>
                        <span class="text-md">Average</span>
                    </div>
                    <div class="flex items-center gap-x-3">
                        <div class="legend-item max"></div>
                        <span class="text-md">Max</span>
                    </div>                
                </div>
            </ng-container>
            <ng-template #loadingTemplate>
                <div class="flex justify-center items-center min-h-40 h-full">
                    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'" [strokeWidth]="0" [value]="50" class="loading-spinner">
                    </mat-progress-spinner>
                </div>
            </ng-template>
            
        </div>
    </div>
</div>