

<form class="flex flex-col bg-card py-6 px-4 w-full" [formGroup]="form">
  <div class="row grid grid-cols-3 gap-x-4 gap-y-2 w-full">
    <div class="col-span-1">
        <mat-form-field class="fuse-mat-dense w-full readonly-field" [floatLabel]="'always'">
            <mat-label class="form-label">Meter No</mat-label>
            <input matInput [formControlName]="'MeterNo'" [placeholder]="'Meter No'" readonly/>
        </mat-form-field>
    </div>
    <div class="col-span-2">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
          <mat-label class="form-label">Description</mat-label>
          <input matInput [formControlName]="'Description'" [placeholder]="'Description'"/>
      </mat-form-field>
    </div>
  </div>
  <div class="row grid grid-cols-4 gap-x-4 gap-y-2 w-full">
    <div class="col-span-1">
      <mat-label class="form-label"> Utility </mat-label>
      <ng-select
          [items]="utils"
          bindLabel="Name"
          bindValue="Id"
          [placeholder]="'Select Utility'"
          [formControlName]="'UtilityId'"
          [searchable]="false"
          [clearable]="false"          
          (change)="selectUtil($event.Id)"
          >
      </ng-select>
    </div>
    <div class="col-span-1">
      <mat-label class="form-label"> Meter Type </mat-label>
      <ng-select
          [items]="makes"
          bindLabel="Description"
          bindValue="Id"
          [placeholder]="'Select Make/Model'"
          [formControlName]="'MakeModelId'"
          [searchable]="false"
          [clearable]="false"          
          (change)="makeModelChange($event.Id)"
          >
      </ng-select>
    </div>
    <div class="col-span-1">
        <mat-label class="form-label"> Make </mat-label>
        <ng-select
            [items]="makeItems"
            bindLabel="Name"
            bindValue="Name"
            [placeholder]="'Select Make'"
            [formControlName]="'Make'"
            [searchable]="false"
            [clearable]="false"
            >
        </ng-select>
        <!-- <mat-label class="form-label">Make</mat-label>
        <input matInput [formControlName]="'Make'"/> -->
    </div>
    <div class="col-span-1">
      <mat-label class="form-label"> Model </mat-label>
      <ng-select
          [items]="modelItems"
          bindLabel="Name"
          bindValue="Name"
          [placeholder]="'Select Model'"
          [formControlName]="'Model'"
          [searchable]="false"
          [clearable]="false"
          >
      </ng-select>
    </div>
  </div>
  <div class="row grid grid-cols-4 gap-x-4 gap-y-2 w-full">
    <div class="col-span-1">
      <mat-label class="form-label"> Phase </mat-label>
      <ng-select
          [items]="phaseItems"
          bindLabel="Label"
          bindValue="Id"
          [placeholder]="'Select Phase'"
          [formControlName]="'Phase'"
          [searchable]="false"
          [clearable]="false"
          >
      </ng-select>
    </div>
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">CB Size</mat-label>
        <input matInput [formControlName]="'CbSize'" type="number" placeholder="Circuit Breaker Size"/>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">CT Primary</mat-label>
        <input matInput type="number" [formControlName]="'CtSizePrim'" placeholder="CT Primary"/>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">CT Secondary</mat-label>
        <input matInput [formControlName]="'CtSizeSec'" type="number" placeholder="CT Secondary"/>
      </mat-form-field>
    </div>
  </div>
  <div class="row grid grid-cols-4 gap-x-4 gap-y-2 w-full">
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">Programmed Factor</mat-label>
        <input matInput type="number" [formControlName]="'ProgFact'" placeholder="Programmed Factor"/>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">Number of Digits</mat-label>
        <input matInput [formControlName]="'Digits'" type="number" placeholder="Number of digits on display"/>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" type="number" [floatLabel]="'always'">
        <mat-label class="form-label">Scada Comms Id</mat-label>
        <input matInput [formControlName]="'CommsId'" placeholder="Scada Comms Id"/>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full readonly-field" [floatLabel]="'always'">
        <mat-label class="form-label">Scada Serial No</mat-label>
        <input matInput [formControlName]="'MeterSerial'" placeholder="Scada Serial Number" readonly/>
      </mat-form-field>
    </div>
  </div>
  <div class="pt-3 px-4 border-t border-gray-300 text-gray-600 flex justify-end gap-x-4">
    <button *ngIf="amrMeter && amrMeter.Id > 0" class="dnm-btn dnm-btn-delete" type="button" (click)="deleteAmrMeter()">Delete</button>
    <button routerLink="/admin/amrMeter" class="dnm-btn dnm-btn-cancel" type="button">Cancel</button>
    <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" (click)="saveAmrMeter()">Save</button>
  </div>
</form>