.border-graph {
    border-right: 1px solid #c2c2c2;
    width: 1px;
    height: 40px;
}
.graph-type-item {
    width: 50px;
    height: 40px;
}
.selected-graph-type {
    background: #ececec;
    border-radius: 4px;
}