<div class="flex w-full justify-between">
    <div class="flex items-center gap-x-4">
        <ng-container *ngIf="type == 'Electricity'">
            <img class="service-icon" src="/assets/images/icons/electricity_circle.svg"/>
        </ng-container>
        <ng-container *ngIf="type == 'Water'">
            <div class="service-icon flex justify-center items-center" style="background-color: #E3E5EF; width: 37px; height: 37px;">
                <img class="" src="/assets/images/icons/water.svg" style="width: 24px;"/>
            </div>
            
        </ng-container>
         <span class="text-xl font-mediumbold">{{type}}</span> 
    </div>
    <div class="flex items-center text-lg gap-x-1">
        <button mat-icon-button><mat-icon [svgIcon]="'feather:chevron-left'" (click)="prev()"></mat-icon></button>
        <ng-container *ngIf="selectedPeriod == 'Week'">
            <span>{{startDate | date : 'dd-MM-yyyy'}} to {{endDate | date : 'dd-MM-yyyy'}}</span>
        </ng-container>
        <ng-container *ngIf="selectedPeriod == 'Day'">
            <span>{{startDate | date : 'dd-MM-yyyy'}}</span>
        </ng-container>
        <ng-container *ngIf="selectedPeriod == 'Month'">
            <span>{{startDate | date : 'MMMM'}}</span>
        </ng-container>
        <ng-container *ngIf="selectedPeriod == 'Year'">
            <span>{{startDate | date : 'yyyy'}}</span>
        </ng-container>
        <button mat-icon-button><mat-icon [svgIcon]="'feather:chevron-right'" (click)="next()"></mat-icon></button>
    </div>
    <div class="flex">
        <dx-select-box [items]="periodItems" displayExpr="label" valueExpr="value" class="form-control period-select" label="Period" placeholder="Select Period" lableMode="static" id="partner"
            [(ngModel)]="selectedPeriod" (onValueChanged)="valueChanged($event)" [searchEnabled]="false">
        </dx-select-box>
    </div>
</div>