<div class="flex flex-col flex-auto min-w-120 max-w-120 max-h-screen -m-6 ">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-4 sm:pl-8 bg-primary text-white">
        <div class="text-lg font-medium">{{data.detail ? 'Edit' : 'Add New'}}</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form
        class="flex flex-col flex-0 w-full p-4 gap-y-4 user-form"
        [formGroup]="form">
        <div class="row grid grid-cols-1 gap-4">
            <div class="col-span-1">
                <mat-label class="form-label"> Building ID </mat-label>
                <ng-select
                    [items]="buildings"
                    bindLabel="Name"
                    bindValue="BuildingId"
                    class="w-50"
                    [placeholder]="'Buildings'"
                    [formControlName]="'BuildingId'"
                    [searchable]="true"
                    [closeOnSelect]="true"
                    [clearable]="false"
                    [multiple]="false"
                    [searchFn]="customSearch"
                    (change)="onChangeBuilding($event)"
                    [readonly]="meterAssignmentDetail? true : false"
                    >
                </ng-select>
            </div>
            <div class="col-span-1">
                <mat-label class="form-label"> Meter No </mat-label>
                <ng-select
                    [items]="meters"
                    bindLabel="MeterNo"
                    bindValue="Id"
                    [placeholder]="'Meter No'"
                    [formControlName]="'AmrMeterId'"
                    [searchable]="false"
                    [closeOnSelect]="true"
                    [clearable]="false"
                    [multiple]="false"
                    (change)="onChangeAMRMeter($event)"
                    [readonly]="meterAssignmentDetail? true : false"
                    >
                </ng-select>
                <mat-error *ngIf="form.get('AmrMeterId').getError('required')">
                   Meter No is required
                </mat-error>
            </div>
            <div class="col-span-1">
                <mat-form-field class="fuse-mat-dense w-full readonly-field" [floatLabel]="'always'">
                    <mat-label class="form-label">AMR Description</mat-label>
                    <input matInput [formControlName]="'AmrDescription'" [placeholder]="'Description'"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row grid grid-cols-2 gap-4">
            <div class="col-span-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <mat-label class="form-label">Update Frequency</mat-label>
                    <input matInput [formControlName]="'UpdateFrequency'" [placeholder]="'Update Frequency'" type="number" 
                        [matTooltip]="'The time to wait after last successful execution of task per meter. In minutes '"/>
                </mat-form-field>
            </div>
            <div class="col-span-1" *ngIf="meterAssignmentDetail">
                <div class="flex gap-x-2 items-center">
                    <mat-form-field class="fuse-mat-dense w-full readonly-field" [floatLabel]="'always'">
                        <mat-label class="form-label">Status</mat-label>
                        <input matInput value="{{getNameFromList(meterAssignmentDetail.Status, scheduleStatus)}}" readonly />   
                    </mat-form-field>
                    <button mat-icon-button *ngIf="meterAssignmentDetail.Status == 7"><mat-icon [svgIcon]="'feather:repeat'" [matTooltip]="'Reset Status'" (click)="onResetStatus()"></mat-icon></button>
                </div>
            </div>
        </div>
        <div class="row grid grid-cols-2 gap-4">
            <div class="col-span-1">
                <mat-form-field class="fuse-mat-dense w-full readonly-field" [floatLabel]="'always'">
                    <mat-label class="form-label">Last Run Date</mat-label>
                    <input matInput [formControlName]="'LastRunDTM'" [placeholder]="'Last Run Date'" type="date" readonly/>
                </mat-form-field>
            </div>
            <div class="col-span-1">
                <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                    <mat-label class="form-label">Last Data Date</mat-label>
                    <input matInput [formControlName]="'LastDataDate'" [placeholder]="'Last Data Date'" type="date" 
                        [matTooltip]="'Retrieve all data from this date, changing this will result in existing data to be replaced'"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row flex gap-y-2 justify-end flex">
            <div class="flex gap-x-2">
                <button mat-stroked-button color="primary" class="" type="button" (click)="close()">Cancel</button>
                <button mat-raised-button color="primary" class="text-white" type="button" [disabled]="!form.valid" (click)="submit()">{{data.detail ? 'Update' : 'Create'}}</button>
            </div>
        </div>
    </form>
</div>