<div *ngIf="data.style=='cancel'">
  <img src="/assets/images/icons/notify_Cancel.svg" class="img-color" />
  <span class="information">
     &nbsp; {{ data.msg }}
  </span>
</div>

<div *ngIf="data.style=='success'">
  <img src="/assets/images/icons/notify_Success.svg" class="img-color" />
  <span class="information">
    &nbsp;{{ data.msg }}
  </span>
</div>

<div *ngIf="data.style=='error'">
  <img src="/assets/images/icons/notify_Error2.svg" class="img-color" />
  <span class="information">
    &nbsp;{{ data.msg }}
  </span>
</div>

<div *ngIf="data.style=='' || data.style=='default'">
  <img src="/assets/images/icons/notify_Default.svg" class="img-color" />
  <span class="information">
    &nbsp;{{ data.msg }}
  </span>
</div>
