.card {
    border-radius: 10px;
    margin-top: 0;
}

.card-body {
    padding: 24px !important;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  width: 80px;
  min-width: 80px;
}