<div class="card">
  <div class="card-header">
    <h2 mat-dialog-title>{{data?.Title}}</h2>
    <button mat-icon-button [mat-dialog-close]="false">
<!--      <mat-icon>close</mat-icon>-->
      <img src="/assets/images/icons/notify_Close_1.svg" style="width: 40px" />
    </button>
  </div>

  <div mat-dialog-content class="card-body">{{data?.Message}}</div>

  <div mat-dialog-actions class="card-footer border-t flex gap-x-2">
    <button class="dnm-btn dnm-btn-cancel" [mat-dialog-close]="false">{{data?.CancelText}}</button>
    <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" [mat-dialog-close]="true">{{data?.ConfirmText}}</button>
  </div>
</div>
