<form class="flex flex-col bg-card py-6 px-4 w-full" [formGroup]="form">
    <div class="row grid grid-cols-4 gap-x-4 gap-y-2 w-full">
        <div class="col-span-1">
            <mat-label class="form-label"> Job Type </mat-label>
            <ng-select
                [items]="jobStatus"
                bindLabel="Name"
                bindValue="Id"
                [placeholder]="'Select Job type'"
                [formControlName]="'JobType'"
                [searchable]="false"
                [clearable]="false"
                [ngClass]="{'read-only': scheduleHeaderDetail}"
                [readonly]="scheduleHeaderDetail? true : false"
                >
            </ng-select>
        </div>
        <div class="col-span-1">
            <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                <mat-label class="form-label">Interval</mat-label>
                <input matInput [formControlName]="'Interval'" [placeholder]="'Interval'" type="number" 
                    [matTooltip]="'The task to check for new jobs executes every 10 minutes. \n If larger offset is required, use this setting to set the time to wait after last execution. \n In minutes '"/>
            </mat-form-field>
        </div>
        <div class="col-span-1" *ngIf="scheduleHeaderDetail">
            <mat-form-field class="fuse-mat-dense w-full readonly-field" [floatLabel]="'always'">
                <mat-label class="form-label">Status</mat-label>
                <input matInput value="{{getNameFromList(scheduleHeaderDetail.Status, scheduleHeaderStatus)}}" readonly />
                <button [matTooltip]="'Reset Status'" mat-icon-button><mat-icon [svgIcon]="'feather:repeat'" (click)="onResetStatus()"></mat-icon></button>   
            </mat-form-field>
        </div>
        <div class="col-span-1">
            <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                <mat-label class="form-label">Description</mat-label>
                <input matInput [formControlName]="'Description'" [placeholder]="'Description'"/>
                <mat-error *ngIf="form.get('Description').getError('required')">
                    Description is required
                 </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="pt-3 px-4 border-t border-gray-300 text-gray-600 flex justify-end gap-x-4">
        <button *ngIf="scheduleHeaderDetail && scheduleHeaderDetail.Id > 0" class="dnm-btn dnm-btn-delete" type="button" (click)="onDelete()">Delete</button>
        <button routerLink="/admin/amrSchedule" class="dnm-btn dnm-btn-cancel" type="button">Cancel</button>
        <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" (click)="onMeterAssignments()" *ngIf="scheduleHeaderDetail && scheduleHeaderDetail.Id">Meter Assignments</button>
        <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" (click)="onSave()">Save</button>
    </div>
</form>