/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
    font-family: "Gotham Medium";
    src: url("../assets/fonts/Gotham/Gotham-Medium.otf");
}

@font-face {
    font-family: Gotham Book;
    src: data-uri("../assets/fonts/Gotham/Gotham-Book.otf");
}

@font-face {
    font-family: Gotham Light;
    src: data-uri("../assets/fonts/Gotham/Gotham-Light.otf");
}

@font-face {
    font-family: Gotham Bold;
    src: data-uri("../assets/fonts/Gotham/Gotham-Bold.otf");
}
.font-mediumbold {
    font-weight: 550 !important;
}
body {
    font-family: 'Gotham Medium', Arial, sans-serif;;
}
.mat-tab-group .mat-tab-body {
    overflow: visible !important;
    width: 100%;
    .mat-tab-body-content {
        overflow: visible !important;
    }
}
.mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels {
    .mat-tab-label.mat-tab-label-active {
        background-color: transparent !important;
        border-bottom: 0px;
        border-radius: unset !important;
        font-weight: bold;
        & :before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: -1px;
            left: 0;
            background-color: #2c5693;
            box-shadow: 0 2px 5px 0 rgb(168 163 209 / 30%);
        }
    }
    & .mat-tab-label{
        min-width: 160px !important;        
    }
    .mat-tab-label-content {
        justify-content: space-around;
        width: 100%;
    }
}
.mat-form-field {
    font: 400 0.875rem / 1.2857142857 'Gotham Medium', "Inter var", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.dnm-btn-primary {
    background: linear-gradient(90deg,#307ca5,#196ca0,#0d5b9a,#194a91,#293785);
    box-shadow: 1px 1px 11px 0 #7e7dab;
    color: white !important;
}
.dnm-btn-primary.dnm-disabled, .dnm-btn-primary:disabled {
    background: linear-gradient(90deg,#7ea4b9,#739cb6,#6d94b3,#738baf,#7b82a9);
    box-shadow: 1px 1px 11px 0 rgb(126 125 171 / 70%);
    opacity: 1;
}
.dnm-btn-cancel {
    background: #dee8f7;
    color: #566787;
    padding: 13px 16px;
    font-size: 14px;
    border-radius: 25px;
    line-height: 14px;
}
.dnm-btn-delete {
    background: #f0525b;
    -webkit-box-shadow: 1px 1px 6px 0 rgba(240, 82, 91, 1);
    -moz-box-shadow: 1px 1px 6px 0 rgba(240, 82, 91, 1);
    box-shadow: 1px 1px 6px 0 rgba(240, 82, 91, 1);
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    color: white;
    padding: 13px 25px;
    font-size: 14px;
    border-radius: 25px;
    line-height: 14px;
}
.dnm-btn-delete:hover {
    opacity: 0.8;
}
.fuse-vertical-navigation-content {
    background: #1e2849;
    background-image: linear-gradient(to right, #212c4f, #202b4d, #1f2a4b, #1f294a, #1e2848);
    .fuse-vertical-navigation-item-title {
        text-transform: uppercase;
        font-size: 16px;
    }
}
.mat-tab-label-container .mat-tab-list {
    border-bottom: 1px solid #dee2e6;
}
.bg-card {
    border: 1px solid #e1e1e1;
}
.mat-form-field-flex:not(:has(textarea)) {
    height: 36px !important;
    min-height: 36px !important;
}
.ng-select.ng-select-single .ng-select-container {
    height: 36px !important;
    min-height: 36px !important;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
    border-color: rgba(203, 213, 225, var(--tw-border-opacity)) !important;
    border-radius: 6px;
    margin-top: 3px;
    //margin-bottom: 12px;
    .ng-value-container .ng-input {
      top: 0.5rem;
    }
}
.ng-select.ng-select-single.select-sm .ng-select-container {
    height: 30px !important;
    min-height: 30px !important;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
    border-color: rgba(203, 213, 225, var(--tw-border-opacity)) !important;
    border-radius: 6px;
    margin-top: 3px;
    //margin-bottom: 12px;
    .ng-value-container .ng-input {
      top: 0.5rem;
    }
}
.ng-select.ng-select-single.select-sm {
    .ng-value-container {
        padding-left: 4px;
        .ng-value {
            width: 100%;
            font-size: 12px;
        }
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        padding: 4px;
        font-size: 12px;
    }
}

.electricity-icon {
    background-image: url('/assets/images/icons/electricity.svg');
}
.electricity-icon::before {
    background: linear-gradient(90deg,#f56a92 0,#cf1a4d);
}
.electricity-icon::before {
    border-radius: 50%;
    content: "";
    opacity: .15;
}
.water-icon {
    background-image: url('/assets/images/icons/water.svg');
}
.water-icon::before {
    background: linear-gradient(90deg,#6792e2 0,#405192);
}
.water-icon::before {
    border-radius: 50%;
    content: "";
    opacity: .15;
}
.electricity-lbl {
    color: #cf1a4d;
}
.water-lbl {
    color: #405192;
}

// DX-Data-Grid style
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td {
    background-color: unset !important;
    color: unset !important;
}
.dx-datagrid-rowsview .dx-row.dx-selection {
    background-color: #00aeef !important;
    color: white !important;
}
 .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
    margin-bottom: 0px;
}
.alarmTrigger-detail .dx-editor-outlined.dx-texteditor-with-label {
    margin-top: 0px;
}
.dx-pivotgrid-fields-container .dx-area-field.dx-area-box {
    background-color: unset !important;
    border: unset !important;
}
.dx-pivotgrid-fields-container .dx-column-indicators {
    display: none !important;
}
.dx-pivotgrid .dx-pivotgrid-container > table > tr:nth-child(2) {
    display: none;
}
// thead.dx-pivotgrid-horizontal-headers tr:nth-child(3) {
//     td:not(.dx-row-total) span {
//         display: none;
//     }
// }
.dx-pivotgrid .dx-filter-header .dx-pivotgrid-toolbar .dx-button {
    margin-top: 4px !important;
}
.dx-pivotgrid .dx-filter-header .dx-pivotgrid-toolbar {
    margin-bottom: 4px;
}
.dx-empty-area-text {
    display: none;
}
.dx-datagrid-rowsview .dx-row.dx-selection {
    background-color: #1e2849 !important;
    background-image: linear-gradient(to right, #212c4f, #202b4d, #1f2a4b, #1f294a, #1e2848);
}
.dx-header-row > td > .dx-datagrid-text-content:not(.dx-sort-indicator):not(.dx-header-filter-indicator){
    white-space: normal;
}
.line-chart-tab {
    &.mat-tab-group .mat-tab-body-content {
        padding: 12px 0;
    }
}
.text-hover:hover {
    color: #c0c0c0;
}
.mat-tab-disabled {
    .mat-tab-label-content {
        cursor: not-allowed;
    }
}