.w-l {
    width: 44%;
}
.w-r {
    width: 56%;
}
.h-fit {
    height: fit-content;
}
::ng-deep .dx-datagrid .dx-gridbase-container{
    padding: 8px;
}
.detail-report-grid {
    grid-template-columns: 110px auto 60px 120px;
}
.meter-reading-grid {
    grid-template-columns: 100px 100px 100px 60px 60px 100px;
}
#detail-report {
    .header {
        border: unset;
        border-bottom: 2px solid black;
        & > div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 4px;
        }
    }
    .content {
        & > div {
            padding: 2px 4px;
        }
    }
}