<div class="flex flex-col gap-y-4">
    <form [formGroup]="form">
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-3">
                <dx-select-box [items]="periodList" displayExpr="DisplayName" valueExpr="PeriodId" class="form-control" label="Building Period"
                    [itemTemplate]="custPeriodTemplate" required placeholder="Select Building Period" lableMode="static" id="buildingPeriod"
                    [formControlName]="'PeriodId'" name="BuildingPeriod" (onValueChanged)="valueChanged($event, 'Period')" [searchEnabled]="true">
                </dx-select-box>
            </div>
            <div class="col-span-2">
                <dx-select-box [items]="reportTypeList" displayExpr="ReportTypeName" valueExpr="ReportTypeId" class="form-control" label="Report Type"
                    placeholder="Select option" lableMode="static" id="reportType" (onValueChanged)="valueChanged($event, 'ReportType')"
                    [formControlName]="'ReportTypeId'" [searchEnabled]="true">
                </dx-select-box>
            </div>
            <div class="col-span-3">
                <dx-select-box [items]="fileFormatList" displayExpr="Value" valueExpr="Id" class="form-control" label="File format"
                    placeholder="Select option" lableMode="static" id="fileFormat" (onValueChanged)="valueChanged($event, 'FileFormat')"
                    [formControlName]="'FileFormat'" [searchEnabled]="true">
                    <div *dxTemplate="let data of 'item'">
                        <div class="custom-item" [matTooltip]="data.Description">
                            {{data.Value}}
                        </div>
                    </div>
                </dx-select-box>
            </div>
            <div class="col-span-3" *ngIf="isVisibleCustomFileFormat">
                <dx-text-box placeholder="Enter custom file format" [formControlName]="'CustomFileFormat'" [matTooltip]="'Custom File Format'" style="margin-top: 6px;"></dx-text-box>
            </div>
            <div class="col-span-3">
                <dx-text-box placeholder="Enter file name" [formControlName]="'FileName'" [matTooltip]="'File Name'" style="margin-top: 6px;"></dx-text-box>
            </div>
            <div class="col-span-6 lg:col-span-4 flex gap-x-3" style="margin-top: 7px;">
                <dx-button stylingMode="contained" text="View Selection" type="default" [width]="130" [height]="34" (onClick)="viewSelection()" [disabled]="!form.valid">
                </dx-button>
                <dx-button stylingMode="contained" text="Archive Selection" type="danger" [width]="145" [height]="34" (onClick)="archiveSelection()" [disabled]="!isArchiveEnabled">
                </dx-button>
            </div>
        </div>
    </form>

    <!-- Grid view -->
    <div class="flex w-full">
        <dx-data-grid
            #grid
            [dataSource]="tenantSlipsReportsDataSource"
            [showBorders]="true"
            id="slip-grid-container"
            [hoverStateEnabled]="true"
            (onSelectionChanged)="selectionChangedHandler()"
        >
            <dxo-selection
                [selectAllMode]="'page'"
                [showCheckBoxesMode]="checkBoxesMode"
                mode="multiple"
            ></dxo-selection>
            <!-- <dxo-selection mode="single"></dxo-selection> -->
            <dxo-filter-row [visible]="'true'"
                [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="15"> </dxo-paging>
            <dxo-pager
                [visible]="true"
                [allowedPageSizes]="allowedPageSizes"
                [displayMode]="'compact'"
                [showPageSizeSelector]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-search-panel
                [visible]="true"
                [width]="200"
                placeholder="Search..."
            ></dxo-search-panel>
            <dxi-column dataField="TenantName" caption="Tenant" [minWidth]="100"></dxi-column>
            <dxi-column dataField="Units" caption="Shop" [minWidth]="100"></dxi-column>
            <dxi-column dataField="Excl" caption="Excl" [minWidth]="100" cellTemplate="cellValueTemplate"></dxi-column>
            <dxi-column dataField="Vat" caption="Vat" [minWidth]="100" cellTemplate="cellValueTemplate"></dxi-column>
            <dxi-column dataField="Incl" caption="Incl" [minWidth]="100" cellTemplate="cellValueTemplate"></dxi-column>
            <dxi-column type="buttons">
                <dxi-button
                    hint="Go to Tenant Slip Detail Dashboard"
                    icon="info"
                    [onClick]="onGetTenantSlipDetail"
                ></dxi-button>
            </dxi-column>
            <div *dxTemplate="let data of 'cellValueTemplate'">
                <ng-container *ngIf="data.value != null; else emptyTemplate">
                    R {{data.value | number : '1.2-2'}}
                </ng-container>
                <ng-template #emptyTemplate></ng-template>
            </div>
        </dx-data-grid>
    </div>
</div>
