<div class="flex gap-x-4">
    <div class="bg-card p-2 flex flex-col gap-y-2">
        <span class="text-xl font-semibold pt-2">Smart Buildings</span>
        <dx-data-grid
            [dataSource]="dataSource"
            [showBorders]="true"
            class="grid-container"
            (onRowPrepared)="onRowPrepared($event)"
            (onRowClick)="onRowClick($event)"
        >
            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-filter-row [visible]="'true'" [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-pager
                [visible]="true"
                [allowedPageSizes]="allowedPageSizes"
                [displayMode]="'compact'"
                [showPageSizeSelector]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-search-panel
                [visible]="true"
                [width]="200"
                placeholder="Search..."
            ></dxo-search-panel>
            <dxi-column dataField="PartnerName" caption="Branch" ></dxi-column>
            <dxi-column dataField="BuildingName" caption="Building"></dxi-column>
        </dx-data-grid>
    </div>
</div>