<!-- <br />
<form novalidate #amrScadaUserForm="ngForm">
  <div class="card">
    <div class="card-header" style="text-align: center">
      <h1 id="title">{{ pageTitle }}</h1>
    </div>

    <div class="card-body" *ngIf="amrUser">

      <div class="alert alert-danger"
           *ngIf="errMessage">
        {{ errMessage }}
      </div>


      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="ProfileNameId">Profile Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="ProfileNameId"
                 type="text"
                 placeholder="Profile Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=amrUser.ProfileName
                 name="profileName"
                 #profileNameVar="ngModel"
                 [ngClass]="{'is-invalid': (profileNameVar?.touched || profileNameVar?.dirty) && !profileNameVar?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="profileNameVar?.errors?.required">
              Profile name is required.
            </span>
            <span *ngIf="profileNameVar?.errors?.minlength">
              Profile name must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="scadaUserNameId">Scada User Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="scadaUserNameId"
                 type="text"
                 placeholder="User Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=amrUser.ScadaUserName
                 name="scadaUserName"
                 #scadaUserNameVar="ngModel"
                 [ngClass]="{'is-invalid': (scadaUserNameVar?.touched || scadaUserNameVar?.dirty) && !scadaUserNameVar?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="scadaUserNameVar?.errors?.required">
              User name is required.
            </span>
            <span *ngIf="scadaUserNameVar?.errors?.minlength">
              User name must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="sgdUrlId">SGD Url</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="sgdUrlId"
                 type="text"
                 placeholder="SGD Url (required)"
                 required
                 minlength="3"
                 [(ngModel)]=amrUser.SgdUrl
                 name="sgdUrl"
                 #sgdUrlVar="ngModel"
                 [ngClass]="{'is-invalid': (sgdUrlVar?.touched || sgdUrlVar?.dirty) && !sgdUrlVar?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="sgdUrlVar?.errors?.required">
              Url is required.
            </span>
            <span *ngIf="sgdUrlVar?.errors?.minlength">
              Url must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row" [hidden]="amrUser.Id != 0">
        <label class="col-md-2 col-form-label"
               for="sgdPwdId">Password</label>
        <div class="col-md-8">
          <div class="input-group">
            <input class="form-control"
                   id="sgdPwdId"
                   [type]="fieldTextType ? 'text' : 'password'"
                   placeholder="Password (required)"
                   required
                   minlength="3"
                   [(ngModel)]=amrUser.ScadaPassword
                   name="scadaPassword"
                   #sgdPwdVar="ngModel"
                   [ngClass]="{'is-invalid': (sgdPwdVar?.touched || sgdPwdVar?.dirty) && !sgdPwdVar?.valid }" />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa"
                   [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                   (click)="toggleFieldTextType()"></i>
              </span>
            </div>
          </div>
          <span class="invalid-feedback">
            <span *ngIf="sgdPwdVar?.errors?.required">
              Password is required.
            </span>
            <span *ngIf="sgdUrlVar?.errors?.minlength">
              Password must be at least three characters.
            </span>
          </span>
        </div>
      </div>
    </div>


    <div class="card-footer form-group row" *ngIf="amrUser">
      <div class="col-md-6">
        <button class="btn btn-primary mr-2"
                style="width:80px"
                type="button"
                [title]="amrScadaUserForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                [disabled]="!amrScadaUserForm.valid"
                (click)="saveAmrUser(amrScadaUserForm)">
          Save
        </button>
        <button class="btn btn-outline-secondary mr-2"
                style="width:80px"
                type="button"
                title="Cancel your edits"
                routerLink="/admin">
          Cancel
        </button>
        <button class="btn btn-outline-danger mr-2"
                style="width:80px"
                type="button"
                title="Delete this product"
                [hidden]="amrUser.Id == 0"
                (click)="deleteAmrUser()">
          Delete
        </button>
        <button class="btn btn-outline-warning"
                style="width:160px"
                type="button"
                title="Change password"
                [hidden]="amrUser.Id == 0"
                (click)="openModal('changePwd')">
          Change Password
        </button>
      </div>
    </div>
  </div>
</form>

<gm-modal id="changePwd">

  <div class="card-header" style="text-align: center">
    <h2>Change Password</h2>
  </div>
  <div class="card-body">
    <form novalidate
          [formGroup]="formChangePwd">
      <div class="form-group row">
        <label class="col-md-4 col-form-label"
               for="currPwdId">Current Password:</label>
        <div class="col-md-7">
          <input class="form-control"
                 id="currPwdId"
                 type="password"
                 placeholder="Current Password (required)"
                 formControlName="currPwd"
                 [ngClass]="{'is-invalid': (formChangePwd.get('currPwd').touched || formChangePwd.get('currPwd').dirty) && !formChangePwd.get('currPwd').valid }" />
          <span class="invalid-feedback">
            <span *ngIf="formChangePwd.get('currPwd').errors?.required">
              Current Password is required.
            </span>
            <span *ngIf="formChangePwd.get('currPwd').errors?.minlength">
              Current Password must be at least three characters.
            </span>
            <span *ngIf="formChangePwd.get('currPwd').errors?.check">
              Supplied password is incorrect.
            </span>
          </span>
        </div>
      </div>

      <div formGroupName="pwdGroup">
        <div class="form-group row">
          <label class="col-md-4 col-form-label"
                 for="newPwdId">New Password:</label>
          <div class="col-md-7">
            <input class="form-control"
                   id="newPwdId"
                   type="password"
                   placeholder="New Password (required)"
                   formControlName="newPwd"
                   [ngClass]="{'is-invalid': (formChangePwd.get('pwdGroup').errors ||
                                                formChangePwd.get('pwdGroup.newPwd').touched ||
                                                formChangePwd.get('pwdGroup.newPwd').dirty) &&
                                                !formChangePwd.get('pwdGroup.newPwd').valid }" />
            <span class="invalid-feedback">
              <span *ngIf="formChangePwd.get('pwdGroup.newPwd').errors?.required">
                New Password is required.
              </span>
              <span *ngIf="formChangePwd.get('pwdGroup.newPwd').errors?.minlength">
                New Password must be at least three characters.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 col-form-label"
                 for="confPwdId">Confirm Password:</label>
          <div class="col-md-7">
            <input class="form-control"
                   id="confPwdId"
                   type="password"
                   placeholder="Confirm Password (required)"
                   formControlName="confPwd"
                   [ngClass]="{'is-invalid': formChangePwd.get('pwdGroup').errors ||
                                                ((formChangePwd.get('pwdGroup.confPwd').touched ||
                                                formChangePwd.get('pwdGroup.confPwd').dirty) &&
                                                !formChangePwd.get('pwdGroup.confPwd').valid) }" />
            <span class="invalid-feedback">
              <span *ngIf="formChangePwd.get('pwdGroup.confPwd').errors?.required">
                Confirm Password is required.
              </span>
              <span *ngIf="formChangePwd.get('pwdGroup').errors?.match">
                Passwords do not match.
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-7">
          <button class="btn btn-primary mr-2"
                  style="width:80px"
                  type="button"
                  [title]="formChangePwd.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!formChangePwd.valid"
                  (click)="changePwd('changePwd');">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-2"
                  style="width:80px"
                  type="button"
                  title="Cancel your edits"
                  (click)="closeModal('changePwd', 'Operation cancelled', 'cancel');">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="alert alert-danger"
       *ngIf="errMessageModal">
    {{ errMessageModal }}
  </div>

</gm-modal> -->
<form class="flex flex-col bg-card py-6 px-4 w-full" [formGroup]="form">
  <h3 class="text-lg font-semibold mb-2">{{pageTitle}}</h3>
  <div class="row grid grid-cols-2 gap-x-4 gap-y-2 w-full">
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">Profile Name</mat-label>
        <input matInput [formControlName]="'ProfileName'" [placeholder]="'Profile Name (required)'"/>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">Scada User Name</mat-label>
        <input matInput [formControlName]="'ScadaUserName'" [placeholder]="'User Name (required)'"/>
      </mat-form-field>
    </div>
  </div>
  <div class="row grid grid-cols-2 gap-x-4 gap-y-2 w-full">
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">SGD Url</mat-label>
        <input matInput [formControlName]="'SgdUrl'" [placeholder]="'SGD Url (required)'"/>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
        <mat-label class="form-label">Password</mat-label>
        <input matInput [formControlName]="'ScadaPassword'" [placeholder]="'Password (required)'" [readonly]="amrUser && amrUser.Id > 0"/>
      </mat-form-field>
    </div>
  </div>
  <div class="pt-3 px-4 border-t border-gray-300 text-gray-600 flex justify-end gap-x-4">
    <button *ngIf="amrUser && amrUser.Id > 0" class="dnm-btn dnm-btn-delete" type="button" (click)="deleteAmrUser()">Delete</button>
    <button routerLink="/admin" class="dnm-btn dnm-btn-cancel" type="button">Cancel</button>
    <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" (click)="saveAmrUser()" type="button">Save</button>
    <button *ngIf="amrUser && amrUser.Id > 0" mat-raised-button color="primary" class="text-white" (click)="openModal('changePwd')">Change Password</button>
  </div>
</form>