@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');

.card {
    margin: 40px 10px;
    box-shadow: 10px 10px 33px -6px rgba(161,161,161,1);
    border-radius: 10px;
}
#title {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    color: #19233c;
    margin: 0;
}
.card-footer {
    margin: 0;
}
