<div class="flex flex-col gap-y-4">
    <div class="flex flex-col width-fit gap-y-4">
        <div class="flex flex-col py-6 gap-y-2 bg-gray-200 px-4 daily-usage">
            <div class="flex">
                <div class="text-lg font-semibold min-w-80">Average usage observed:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [readonly]="true" value="{{configInfo ? configInfo.AvgDaily : ''}}"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                </div>
            </div>
            <div class="flex">
                <div class="text-lg font-semibold min-w-80">Peak usage observed:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [readonly]="true" value="{{configInfo ? configInfo.MaxDaily : ''}}"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                </div>
            </div>
            <div class="flex">
                <div class="text-lg font-semibold min-w-80">Minimum usage observed:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [readonly]="true" value="{{configInfo ? configInfo.MinDaily : ''}}"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col py-6 gap-y-8 px-4">
            <div class="flex justify-between w-full" [formGroup]="analyzeForm">
                <div class="flex items-center">
                    <div class="text-lg font-semibold min-w-80">Alarm Threshold Value:</div>
                    <div class="flex items-center gap-x-1">
                        <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                            <input matInput type="text" [formControlName]="'Threshold'"/> 
                        </mat-form-field>
                        <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                    </div>
                </div>
                <div class="flex h-full items-end ml-2">
                    <button mat-raised-button color="primary" class="apply-btn dnm-btn dnm-btn-primary min-w-30" (click)="onAlarmAnalyzeDailyUsage()">Apply</button>
                </div>
            </div>
            <div class="flex justify-between w-full">
                <div class="flex items-center">
                    <div class="text-lg font-semibold min-w-80">Number of Alarms for above period:</div>
                    <div class="flex items-center gap-x-1">
                        <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                            <input matInput type="text" [readonly]="true" value="{{analyzeInfo ? analyzeInfo.NoOfAlarms : ''}}"/> 
                        </mat-form-field>
                        <span class="text-lg font-semibold hidden">KL</span>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="text-lg font-semibold min-w-20">Active:</div>
                    <mat-checkbox [color]="'primary'" [(ngModel)]="active"></mat-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3 border-t border-gray-300 text-gray-600 flex justify-end gap-x-4">
        <button class="dnm-btn dnm-btn-delete" type="button" (click)="onRemove()">Delete</button>
        <button routerLink="/admin" class="dnm-btn dnm-btn-cancel" type="button">Cancel</button>
        <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" type="button" (click)="onSave()">Save</button>
    </div>
</div>