::ng-deep .mat-dialog-container {
    overflow: visible;
}
.table-grid {
    grid-template-columns: 3fr 2fr 2fr;
}
.user-form {
    max-height: calc(100vh - 100px);
    overflow: scroll;
}
::ng-deep .mat-tab-group .mat-tab-body-content {
    padding: 12px !important;
}