::ng-deep #gridContainer {
    min-height: 100px;
    max-height: 500px;
    width: 100%;
}
::ng-deep .dx-datagrid-headers table tbody tr {
    font-weight: bold;
    color: black;
}
// ::ng-deep .summaryReport .dx-datagrid-headers {
//     display: none;
// }
::ng-deep .mat-accordion .mat-expansion-panel .mat-expansion-panel-body {
    color: #19233C !important;
}
::ng-deep .dx-radiobutton {
    font-weight: 600;
    color: #19233C;
    margin-bottom: 6px !important;
    font-size: 18px;
}