<div class="flex flex-col flex-auto min-w-120 max-w-120 max-h-screen -m-6 ">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-4 sm:pl-8 bg-primary text-white">
        <div class="text-lg font-medium">Set User Notification</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form
        class="flex flex-col flex-0 w-full p-4 gap-y-4 user-form"
        [formGroup]="form">
        <div class="row grid grid-cols-3 gap-4">
            <div class="col-span-1 flex gap-x-2">
                <div class="text-lg min-w-28">Night Flow:</div>
                <mat-checkbox [color]="'primary'" [formControlName]="'Night Flow'" (click)="onAlarmClick($event, 'Night Flow')" (change)="onAlarmChange($event, 'Night Flow')" *ngIf="data.detail['Night Flow'] != 0"></mat-checkbox>
            </div>
            <div class="col-span-1 flex gap-x-2">
                <div class="text-lg min-w-28">Burst Pipe:</div>
                <mat-checkbox [color]="'primary'" [formControlName]="'Burst Pipe'" (click)="onAlarmClick($event, 'Burst Pipe')" (change)="onAlarmChange($event, 'Burst Pipe')" *ngIf="data.detail['Burst Pipe'] != 0"></mat-checkbox>
            </div>
            <div class="col-span-1 flex gap-x-2">
                <div class="text-lg min-w-28">Leak:</div>
                <mat-checkbox [color]="'primary'" [formControlName]="'Leak'" (click)="onAlarmClick($event, 'Leak')" (change)="onAlarmChange($event, 'Leak')" *ngIf="data.detail['Leak'] != 0"></mat-checkbox>
            </div>
            <div class="col-span-1 flex gap-x-2">
                <div class="text-lg min-w-28">Daily Usage:</div>
                <mat-checkbox [color]="'primary'" [formControlName]="'Daily Usage'" (click)="onAlarmClick($event, 'Daily Usage')" (change)="onAlarmChange($event, 'Daily Usage')" *ngIf="data.detail['Daily Usage'] != 0"></mat-checkbox>
            </div>
            <div class="col-span-1 flex gap-x-2">
                <div class="text-lg min-w-28">Peak:</div>
                <mat-checkbox [color]="'primary'" [formControlName]="'Peak'" (click)="onAlarmClick($event, 'Peak')" (change)="onAlarmChange($event, 'Peak')" *ngIf="data.detail['Peak'] != 0"></mat-checkbox>
            </div>
            <div class="col-span-1 flex gap-x-2">
                <div class="text-lg min-w-28">Average:</div>
                <mat-checkbox [color]="'primary'" [formControlName]="'Average'" (click)="onAlarmClick($event, 'Average')" (change)="onAlarmChange($event, 'Average')" *ngIf="data.detail['Average'] != 0"></mat-checkbox>
            </div>
        </div>
    </form>

    <div class="row flex gap-y-2 justify-end flex mb-2">
        <div class="col-span-1">
            <button mat-stroked-button color="primary" class="w-30 mr-4" type="button" (click)="close()">Close</button>
        </div>
    </div>
</div>