<div class="flex flex-col gap-y-4">
    <div class="flex flex-col width-fit gap-y-4">
        <div class="flex px-4">
            <div class="flex items-center gap-x-4" [formGroup]="form">
                <div class="text-lg font-semibold">Specify night time hours:</div>
                <div class="flex">
                    <dx-date-box type="time" placeholder="Time" displayFormat="HH:mm" label="Start time"
                        labelMode="static" name="sdT" required class="form-control" [formControlName]="'NightStartTime'"> </dx-date-box>
                </div>
                <div class="flex">
                    <dx-date-box type="time" placeholder="Time" displayFormat="HH:mm" label="End time"
                        labelMode="static" name="edT" required class="form-control" [formControlName]="'NightEndTime'"> </dx-date-box>
                </div>
                <div class="flex h-full items-end ml-2">
                    <button mat-raised-button color="primary" class="apply-btn dnm-btn dnm-btn-primary min-w-30" (click)="onAlarmConfigNightFlow()">Apply</button>
                </div>
            </div>
        </div>
        <div class="flex flex-col py-6 gap-y-2 bg-gray-200 px-4">
            <div class="flex">
                <div class="text-lg font-semibold min-w-80">Average usage observed:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [readonly]="true" value="{{configInfo ? configInfo.IntervalAvg : ''}}"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                </div>
            </div>
            <div class="flex">
                <div class="text-lg font-semibold min-w-80">Peak usage observed:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [readonly]="true" value="{{configInfo ? configInfo.NFPeak : ''}}"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                </div>
            </div>
            <div class="flex">
                <div class="text-lg font-semibold min-w-80">Minimum usage observed:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [readonly]="true" value="{{configInfo ? configInfo.NFMin : ''}}"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                </div>
            </div>
            <div class="flex">
                <div class="text-lg font-semibold min-w-80">Total NightFlow usage:</div>
                <div class="flex items-center gap-x-1">
                    <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                        <input matInput type="text" [readonly]="true" value="{{configInfo ? configInfo.TotalNightFlow : ''}}"/> 
                    </mat-form-field>
                    <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col py-6 gap-y-8 px-4">
            <div class="flex justify-between w-full">
                <div class="flex gap-x-6" [formGroup]="analyzeForm">
                    <div class="flex items-center">
                        <div class="text-lg font-semibold min-w-80">Alarm Threshold Value:</div>
                        <div class="flex items-center gap-x-1">
                            <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                                <input matInput type="text" [formControlName]="'Threshold'"/> 
                            </mat-form-field>
                            <span class="text-lg font-semibold">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                        </div>
                    </div>
                    <!-- <div class="flex">
                        <dx-select-box [items]="minutues" displayExpr="Value" valueExpr="Value" class="form-control" label="Duration(minutes)"
                            required placeholder="In Minutes" lableMode="static" name="meter" [searchEnabled]="true" [formControlName]="'Duration'">
                        </dx-select-box>
                    </div> -->
                    <div class="flex items-center gap-x-2">
                        <div class="text-lg font-semibold">For:</div>
                        <div class="flex items-center gap-x-1">
                            <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                                <input matInput type="number" [formControlName]="'Duration'"/> 
                            </mat-form-field>
                            <span class="text-lg font-semibold whitespace-nowrap">Consecutive Profiles</span>
                        </div>
                    </div>
                </div>
                <div class="flex h-full items-end ml-8">
                    <button mat-raised-button color="primary" class="apply-btn dnm-btn dnm-btn-primary min-w-30" (click)="getAlarmAnalyzeNightFlow()">Apply</button>
                </div>
            </div>
            <div class="flex justify-between w-full">
                <div class="flex items-center">
                    <div class="text-lg font-semibold min-w-80">Number of Alarms for above period:</div>
                    <div class="flex items-center gap-x-1">
                        <mat-form-field class="fuse-mat-dense w-full" [floatLabel]="'always'">
                            <input matInput type="text" [readonly]="true" value="{{analyzeInfo ? analyzeInfo.NoOfAlarms : ''}}" /> 
                        </mat-form-field>
                        <span class="text-lg font-semibold hidden">{{meter['SupplyType'] == 'Electricity' ? 'kWh' : 'KL'}}</span>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="text-lg font-semibold min-w-20">Active:</div>
                    <mat-checkbox [color]="'primary'" [(ngModel)]="active"></mat-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3 px-4 border-t border-gray-300 text-gray-600 flex justify-end gap-x-4">
        <button class="dnm-btn dnm-btn-delete" type="button" (click)="onRemove()">Delete</button>
        <button routerLink="/admin" class="dnm-btn dnm-btn-cancel" type="button">Cancel</button>
        <button mat-raised-button color="primary" class="dnm-btn dnm-btn-primary" type="button" (click)="onSave()">Save</button>
    </div>
</div>
